In [1]:
key = pd.read_csv('../data/key.csv')
train = pd.read_csv('../data/train.csv')
weather = pd.read_csv('../data/weather.csv')
test = pd.read_csv('../data/test.csv')

In [2]:
def match_dateformat(df, year):
    """
    영문 월을 숫자 월로 바꾸어주고 나중에 사용하기 쉽도록 datetime.date 형태로 바꾸어주는 함수
    """
    months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    for i in range(len(df)):
        dates = df.loc[i][0]
        dates = dates.split(" ")
        for j in range(len(months)):
            if dates[0] == months[j]:
                dates[0] = str(j + 1)
                dates_df = ["{} {} {}".format(year, dates[0], dates[1])]
                dates_df = pd.to_datetime(dates_df)
                df.loc[i][0] = dates_df.date[0]
    return df

In [3]:
def merge_holiday(holiday_df1, holiday_df2, holiday_df3):
    """
    각 연도별 공휴일 리스트 합치기
    """
    frame = [holiday_df1, holiday_df2, holiday_df3]
    holiday = pd.concat(frame).reset_index(drop=True)
    return holiday

In [4]:
def find_holiday(file, year):
    """
    수요에 영향을 미치는 주요 공휴일을 찾아내는 함수
    """
    holidays = ["New Year's Day", "Martin Luther King Jr. Day", "Valentine's Day",  "President's Day", "Easter Sunday", 
                      "Mother's Day", "Memorial Day", "Father's Day", "Independence Day", "Labor Day", "Columbus Day",
                      "Halloween", "Veterans Day", "Thanksgiving Day", "Black Friday", "Christmas Eve", "Christmas Day", "New Year's Eve"]
    
    holi = pd.read_excel(file, year, header=None)
    holi = match_dateformat(holi, year)
    holiday = pd.DataFrame(columns=[0,1,2,3,4])
    for _ in holidays:
        for i in range(len(holi[2])):
            if _ == holi[2][i]:
                holiday = holiday.append(holi.loc[i])
    return holiday

In [5]:
def TM_transform(series, T_replace, M_replace): 
    """
    데이터내의 T, M을 원하는 값으로 바꿔주는 함수
    TM_transform(series, T_replace, M_replace)
    """
    series = series.astype(str).map(lambda s: s.strip())
    series[series == 'T'] = T_replace
    series[series =='M'] = M_replace
    
    return series.astype('float')

In [6]:
holiday12 = find_holiday('../data/holiday.xlsx', '2012')
holiday13 = find_holiday('../data/holiday.xlsx', '2013')
holiday14 = find_holiday('../data/holiday.xlsx', '2014')
holiday = merge_holiday(holiday12, holiday13, holiday14)

In [7]:
train_df = train[train['date'] <= '2013-03-31'].reset_index(drop=True)
weather_df = weather[weather['date'] <= '2013-03-31'].reset_index(drop = True)

In [8]:
weather_df = weather_df.drop(['sunrise', 'sunset', 'codesum'], axis = 1)

In [9]:
column_list = weather_df.columns[2:-1]
column_list

Index(['tmax', 'tmin', 'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool',
       'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed',
       'resultdir'],
      dtype='object')

In [10]:
for column in column_list :
    weather_df['{}'.format(column)] = TM_transform(weather_df['{}'.format(column)], 0, np.NaN)

In [11]:
weather_df['date'] = pd.to_datetime(weather_df['date'])

In [12]:
weather_df['event'] = ""
for num in range(len(weather_df)) :
    if weather_df.at[num, 'snowfall'] >= 2 or weather_df.at[num, 'preciptotal'] >= 1 :
        weather_df.set_value(num, 'event', True)
    else :
        weather_df.set_value(num, 'event', False)

In [13]:
train_df['log_units'] = np.log(train_df['units'] + 1)

In [14]:
train_df['date'] = pd.to_datetime(train_df['date'])
train_df['weekday'] = train_df.date.dt.weekday  # 월요일이 0 일요일이 6
train_df['weekend'] = train_df.date.dt.weekday.isin([5, 6])  # 5: 토요일, 6: 일요일
train_df['holiday'] = train_df.date.isin([5, 6])

In [15]:
df = pd.merge(train_df, key, on = 'store_nbr')
df = pd.merge(df, weather_df, on = ['date', 'station_nbr'])

In [16]:
df.head()

,date,store_nbr,item_nbr,units,log_units,weekday,weekend,holiday,station_nbr,tmax,...,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,event
0,2012-01-01,1,1,0,0.0,6,True,False,1,52.0,...,23.0,0.0,NaN,0.05,29.78,29.92,3.6,20.0,4.6,False
1,2012-01-01,1,2,0,0.0,6,True,False,1,52.0,...,23.0,0.0,NaN,0.05,29.78,29.92,3.6,20.0,4.6,False
2,2012-01-01,1,3,0,0.0,6,True,False,1,52.0,...,23.0,0.0,NaN,0.05,29.78,29.92,3.6,20.0,4.6,False
3,2012-01-01,1,4,0,0.0,6,True,False,1,52.0,...,23.0,0.0,NaN,0.05,29.78,29.92,3.6,20.0,4.6,False
4,2012-01-01,1,5,0,0.0,6,True,False,1,52.0,...,23.0,0.0,NaN,0.05,29.78,29.92,3.6,20.0,4.6,False

In [32]:
tmp_ = df.pivot_table(values = 'log_units', index = ['date', 'store_nbr', 'item_nbr'])
tmp_ = tmp[tmp['log_units'] != 0]

In [33]:
tmp_ = tmp_.reset_index()

In [34]:
holiday.head()

            0        1                           2                      3    4
0  2012-01-01   Sunday              New Year's Day        Federal Holiday  NaN
1  2012-01-16   Monday  Martin Luther King Jr. Day        Federal Holiday  NaN
2  2012-02-14  Tuesday             Valentine's Day             Observance  NaN
3  2012-04-08   Sunday               Easter Sunday  Observance, Christian  NaN
4  2012-05-13   Sunday                Mother's Day             Observance  NaN

In [35]:
tmp_.head() #weekday, holiday, event 추가해야함

        date  store_nbr  item_nbr  log_units
0 2012-01-01          1         9   3.401197
1 2012-01-01          1        28   1.098612
2 2012-01-01          1        51   0.693147
3 2012-01-01          2         5   5.257495
4 2012-01-01          2        44   5.375278

In [36]:
weather_df.head()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,event
0,1,2012-01-01,52.0,31.0,42.0,NaN,36.0,40.0,23.0,0.0,NaN,0.05,29.78,29.92,3.6,20.0,4.6,False
1,2,2012-01-01,48.0,33.0,41.0,16.0,37.0,39.0,24.0,0.0,0.0,0.07,28.82,29.91,9.1,23.0,11.3,False
2,3,2012-01-01,55.0,34.0,45.0,9.0,24.0,36.0,20.0,0.0,0.0,0.00,29.77,30.47,9.9,31.0,10.0,False
3,4,2012-01-01,63.0,47.0,55.0,4.0,28.0,43.0,10.0,0.0,0.0,0.00,29.79,30.48,8.0,35.0,8.2,False
4,6,2012-01-01,63.0,34.0,49.0,0.0,31.0,43.0,16.0,0.0,0.0,0.00,29.95,30.47,14.0,36.0,13.8,False

In [37]:
tmp_ = pd.merge(tmp_, key, on = 'store_nbr')
tmp_['date'] = pd.to_datetime(tmp_['date'])
tmp_['weekday'] = tmp_.date.dt.weekday  # 월요일이 0 일요일이 6
tmp_['weekend'] = tmp_.date.dt.weekday.isin([5, 6])  # 5: 토요일, 6: 일요일
tmp_['holiday'] = tmp_.date.isin([5, 6])

In [38]:
tmp_test = pd.merge(tmp_, weather_df[['date', 'station_nbr', 'event']], on = ['date', 'station_nbr'])

In [39]:
tmp_test.head()

,date,store_nbr,item_nbr,log_units,station_nbr,weekday,weekend,holiday,event
0,2012-01-01,1,9,3.401197,1,6,True,False,False
1,2012-01-01,1,28,1.098612,1,6,True,False,False
2,2012-01-01,1,51,0.693147,1,6,True,False,False
3,2012-01-02,1,9,4.110874,1,0,False,False,False
4,2012-01-02,1,28,1.791759,1,0,False,False,False

In [44]:
model = sm.OLS.from_formula("log_units ~ C(store_nbr) + C(item_nbr) + C(weekday) + C(holiday) + C(event) + 0", data = tmp_test)

In [45]:
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              log_units   R-squared:                       0.873
Model:                            OLS   Adj. R-squared:                  0.873
Method:                 Least Squares   F-statistic:                     2841.
Date:                Sat, 03 Mar 2018   Prob (F-statistic):               0.00
Time:                        16:51:26   Log-Likelihood:                -45481.
No. Observations:               61318   AIC:                         9.126e+04
Df Residuals:                   61169   BIC:                         9.260e+04
Df Model:                         148
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(store_nbr)[1]        1.2829      0.052     24.836      0.000       1.182       1.384
C(store_nbr)[2]        1.6729      0.050     33.316      0.000       1.574       1.771
C(store_nbr)[3]        1.6494      0.051     32.457      0.000       1.550       1.749
C(store_nbr)[4]        2.1842      0.053     41.446      0.000       2.081       2.288
C(store_nbr)[5]        1.3317      0.051     25.940      0.000       1.231       1.432
C(store_nbr)[6]        1.5001      0.051     29.361      0.000       1.400       1.600
C(store_nbr)[7]        1.8439      0.052     35.528      0.000       1.742       1.946
C(store_nbr)[8]        1.1938      0.052     23.140      0.000       1.093       1.295
C(store_nbr)[9]        1.5567      0.051     30.540      0.000       1.457       1.657
C(store_nbr)[10]       1.5854      0.051     31.350      0.000       1.486       1.685
C(store_nbr)[11]       1.4252      0.051     28.006      0.000       1.325       1.525
C(store_nbr)[12]       1.6575      0.051     32.434      0.000       1.557       1.758
C(store_nbr)[13]       1.7597      0.052     33.997      0.000       1.658       1.861
C(store_nbr)[14]       0.5249      0.051     10.257      0.000       0.425       0.625
C(store_nbr)[15]       1.7627      0.050     34.976      0.000       1.664       1.861
C(store_nbr)[16]       1.9730      0.052     38.141      0.000       1.872       2.074
C(store_nbr)[17]       2.7421      0.051     53.401      0.000       2.641       2.843
C(store_nbr)[18]       0.7830      0.052     15.143      0.000       0.682       0.884
C(store_nbr)[19]       1.2185      0.053     23.203      0.000       1.116       1.321
C(store_nbr)[20]       1.8043      0.052     34.654      0.000       1.702       1.906
C(store_nbr)[21]       1.2580      0.051     24.805      0.000       1.159       1.357
C(store_nbr)[22]       1.6614      0.051     32.797      0.000       1.562       1.761
C(store_nbr)[23]       1.0096      0.051     19.691      0.000       0.909       1.110
C(store_nbr)[24]       2.4533      0.103     23.807      0.000       2.251       2.655
C(store_nbr)[25]       1.9098      0.051     37.802      0.000       1.811       2.009
C(store_nbr)[26]       1.4333      0.051     27.982      0.000       1.333       1.534
C(store_nbr)[27]       1.4581      0.050     28.932      0.000       1.359       1.557
C(store_nbr)[28]       1.2410      0.051     24.214      0.000       1.141       1.341
C(store_nbr)[29]       1.4972      0.052     28.598      0.000       1.395       1.600
C(store_nbr)[30]       2.0288      0.051     40.037      0.000       1.930       2.128
C(store_nbr)[31]       1.6084      0.051     31.829      0.000       1.509       1.707
C(store_nbr)[32]       1.3718      0.050     27.274      0.000       1.273       1.470
C(store_nbr)[33]       2.1510      0.050     42.985      0.000       2.053       2.249
C(store_nbr)[34]       1.7261      0.050     34.232      0.000       1.627       1.825
C(store_nbr)[35]       1.3670      0.054     25.126      0.000       1.260       1.474
C(store_nbr)[36]       1.2558      0.044     28.291      0.000       1.169       1.343
C(store_nbr)[37]       1.3299      0.051     25.936      0.000       1.229       1.430
C(store_nbr)[38]       1.8122      0.050     36.023      0.000       1.714       1.911
C(store_nbr)[39]      -0.4652      0.053     -8.798      0.000      -0.569      -0.362
C(store_nbr)[40]       1.4545      0.051     28.665      0.000       1.355       1.554
C(store_nbr)[41]       1.5712      0.051     30.980      0.000       1.472       1.671
C(store_nbr)[42]       1.4271      0.051     27.722      0.000       1.326       1.528
C(store_nbr)[43]       1.6825      0.052     32.575      0.000       1.581       1.784
C(store_nbr)[44]       1.4242      0.051     27.918      0.000       1.324       1.524
C(store_nbr)[45]       0.4528      0.053      8.466      0.000       0.348       0.558
C(item_nbr)[T.2]      -0.0241      0.055     -0.435      0.664      -0.133       0.085
C(item_nbr)[T.3]      -0.4338      0.067     -6.483      0.000      -0.565      -0.303
C(item_nbr)[T.4]       0.5930      0.077      7.661      0.000       0.441       0.745
C(item_nbr)[T.5]       2.4186      0.049     49.782      0.000       2.323       2.514
C(item_nbr)[T.6]       1.2237      0.106     11.582      0.000       1.017       1.431
C(item_nbr)[T.7]      -0.7330      0.063    -11.605      0.000      -0.857      -0.609
C(item_nbr)[T.8]       1.9708      0.057     34.362      0.000       1.858       2.083
C(item_nbr)[T.9]       2.3001      0.048     48.031      0.000       2.206       2.394
C(item_nbr)[T.10]     -0.4298      0.063     -6.800      0.000      -0.554      -0.306
C(item_nbr)[T.11]     -0.6061      0.063     -9.673      0.000      -0.729      -0.483
C(item_nbr)[T.12]     -1.0077      0.064    -15.800      0.000      -1.133      -0.883
C(item_nbr)[T.13]     -0.7533      0.067    -11.316      0.000      -0.884      -0.623
C(item_nbr)[T.14]     -0.5206      0.071     -7.292      0.000      -0.661      -0.381
C(item_nbr)[T.15]      0.3797      0.056      6.772      0.000       0.270       0.490
C(item_nbr)[T.16]      1.8984      0.049     38.366      0.000       1.801       1.995
C(item_nbr)[T.17]     -0.8231      0.062    -13.381      0.000      -0.944      -0.703
C(item_nbr)[T.18]     -0.9080      0.062    -14.764      0.000      -1.029      -0.787
C(item_nbr)[T.19]     -0.5605      0.062     -9.086      0.000      -0.681      -0.440
C(item_nbr)[T.20]     -0.3895      0.059     -6.641      0.000      -0.504      -0.275
C(item_nbr)[T.21]     -0.4923      0.053     -9.226      0.000      -0.597      -0.388
C(item_nbr)[T.23]      1.2415      0.053     23.379      0.000       1.137       1.346
C(item_nbr)[T.24]      0.4027      0.069      5.806      0.000       0.267       0.539
C(item_nbr)[T.25]      2.6376      0.053     49.918      0.000       2.534       2.741
C(item_nbr)[T.26]      1.2611      0.059     21.376      0.000       1.145       1.377
C(item_nbr)[T.27]     -0.0428      0.058     -0.742      0.458      -0.156       0.070
C(item_nbr)[T.28]      0.3721      0.057      6.537      0.000       0.261       0.484
C(item_nbr)[T.29]     -0.1067      0.060     -1.786      0.074      -0.224       0.010
C(item_nbr)[T.30]     -0.2481      0.053     -4.691      0.000      -0.352      -0.144
C(item_nbr)[T.31]     -0.7400      0.063    -11.730      0.000      -0.864      -0.616
C(item_nbr)[T.32]     -0.3050      0.064     -4.745      0.000      -0.431      -0.179
C(item_nbr)[T.33]      0.3705      0.063      5.890      0.000       0.247       0.494
C(item_nbr)[T.34]      0.3362      0.117      2.881      0.004       0.107       0.565
C(item_nbr)[T.35]     -0.1841      0.061     -3.039      0.002      -0.303      -0.065
C(item_nbr)[T.36]      2.8685      0.053     53.741      0.000       2.764       2.973
C(item_nbr)[T.37]      1.2637      0.050     25.363      0.000       1.166       1.361
C(item_nbr)[T.39]     -0.3351      0.068     -4.898      0.000      -0.469      -0.201
C(item_nbr)[T.40]     -0.3085      0.081     -3.825      0.000      -0.467      -0.150
C(item_nbr)[T.41]      1.6622      0.053     31.125      0.000       1.558       1.767
C(item_nbr)[T.42]      0.6415      0.057     11.318      0.000       0.530       0.753
C(item_nbr)[T.43]      1.3736      0.106     13.000      0.000       1.166       1.581
C(item_nbr)[T.44]      3.1705      0.048     66.203      0.000       3.077       3.264
C(item_nbr)[T.45]      2.7260      0.049     56.032      0.000       2.631       2.821
C(item_nbr)[T.46]     -0.5215      0.060     -8.673      0.000      -0.639      -0.404
C(item_nbr)[T.48]      2.3188      0.056     41.117      0.000       2.208       2.429
C(item_nbr)[T.49]     -0.6082      0.067     -9.107      0.000      -0.739      -0.477
C(item_nbr)[T.50]      0.0096      0.058      0.166      0.868      -0.104       0.123
C(item_nbr)[T.51]     -0.1995      0.055     -3.609      0.000      -0.308      -0.091
C(item_nbr)[T.52]     -0.7172      0.053    -13.483      0.000      -0.821      -0.613
C(item_nbr)[T.53]     -0.3851      0.064     -5.995      0.000      -0.511      -0.259
C(item_nbr)[T.54]     -0.7515      0.065    -11.536      0.000      -0.879      -0.624
C(item_nbr)[T.55]     -0.2589      0.062     -4.151      0.000      -0.381      -0.137
C(item_nbr)[T.56]      0.0244      0.057      0.428      0.669      -0.088       0.136
C(item_nbr)[T.57]      0.2038      0.075      2.718      0.007       0.057       0.351
C(item_nbr)[T.58]     -0.0685      0.061     -1.132      0.258      -0.187       0.050
C(item_nbr)[T.59]     -0.2809      0.060     -4.717      0.000      -0.398      -0.164
C(item_nbr)[T.60]     -1.5416      0.108    -14.237      0.000      -1.754      -1.329
C(item_nbr)[T.61]     -0.4710      0.054     -8.783      0.000      -0.576      -0.366
C(item_nbr)[T.62]     -0.4256      0.065     -6.564      0.000      -0.553      -0.299
C(item_nbr)[T.63]     -0.0248      0.082     -0.303      0.762      -0.185       0.135
C(item_nbr)[T.65]     -1.1959      0.063    -19.084      0.000      -1.319      -1.073
C(item_nbr)[T.66]      1.3753      0.062     22.315      0.000       1.254       1.496
C(item_nbr)[T.67]      0.7851      0.059     13.341      0.000       0.670       0.900
C(item_nbr)[T.68]      2.3584      0.050     47.359      0.000       2.261       2.456
C(item_nbr)[T.69]     -0.1913      0.060     -3.212      0.001      -0.308      -0.075
C(item_nbr)[T.70]      0.6153      0.069      8.875      0.000       0.479       0.751
C(item_nbr)[T.71]     -1.7840      0.064    -27.807      0.000      -1.910      -1.658
C(item_nbr)[T.72]      0.0449      0.062      0.722      0.470      -0.077       0.167
C(item_nbr)[T.73]     -0.8117      0.067    -12.058      0.000      -0.944      -0.680
C(item_nbr)[T.74]     -0.4955      0.064     -7.760      0.000      -0.621      -0.370
C(item_nbr)[T.75]     -0.1645      0.069     -2.374      0.018      -0.300      -0.029
C(item_nbr)[T.76]     -1.5125      0.115    -13.174      0.000      -1.738      -1.287
C(item_nbr)[T.77]     -0.5611      0.070     -7.966      0.000      -0.699      -0.423
C(item_nbr)[T.78]     -0.1836      0.065     -2.804      0.005      -0.312      -0.055
C(item_nbr)[T.79]     -0.4470      0.065     -6.878      0.000      -0.574      -0.320
C(item_nbr)[T.80]     -0.5544      0.064     -8.614      0.000      -0.681      -0.428
C(item_nbr)[T.81]      0.6337      0.057     11.159      0.000       0.522       0.745
C(item_nbr)[T.82]     -0.5173      0.061     -8.419      0.000      -0.638      -0.397
C(item_nbr)[T.83]      1.1178      0.057     19.450      0.000       1.005       1.230
C(item_nbr)[T.84]     -0.6681      0.066    -10.183      0.000      -0.797      -0.539
C(item_nbr)[T.85]     -1.0459      0.063    -16.698      0.000      -1.169      -0.923
C(item_nbr)[T.86]     -0.6029      0.054    -11.082      0.000      -0.710      -0.496
C(item_nbr)[T.87]     -0.2719      0.062     -4.366      0.000      -0.394      -0.150
C(item_nbr)[T.88]     -0.0170      0.068     -0.248      0.804      -0.151       0.117
C(item_nbr)[T.89]     -0.2610      0.082     -3.177      0.001      -0.422      -0.100
C(item_nbr)[T.90]     -1.1901      0.061    -19.555      0.000      -1.309      -1.071
C(item_nbr)[T.91]     -0.2560      0.064     -4.013      0.000      -0.381      -0.131
C(item_nbr)[T.92]     -0.9199      0.064    -14.390      0.000      -1.045      -0.795
C(item_nbr)[T.93]      0.0632      0.049      1.301      0.193      -0.032       0.158
C(item_nbr)[T.94]     -0.4166      0.060     -6.988      0.000      -0.533      -0.300
C(item_nbr)[T.96]     -0.8233      0.100     -8.258      0.000      -1.019      -0.628
C(item_nbr)[T.97]     -0.7923      0.082     -9.655      0.000      -0.953      -0.631
C(item_nbr)[T.98]     -0.7014      0.059    -11.819      0.000      -0.818      -0.585
C(item_nbr)[T.99]     -0.3320      0.145     -2.284      0.022      -0.617      -0.047
C(item_nbr)[T.100]    -0.0799      0.076     -1.053      0.292      -0.229       0.069
C(item_nbr)[T.101]    -1.0756      0.081    -13.282      0.000      -1.234      -0.917
C(item_nbr)[T.102]    -0.9142      0.363     -2.517      0.012      -1.626      -0.202
C(item_nbr)[T.103]     1.4572      0.107     13.649      0.000       1.248       1.666
C(weekday)[T.1]       -0.0926      0.008    -11.868      0.000      -0.108      -0.077
C(weekday)[T.2]       -0.1352      0.008    -17.412      0.000      -0.150      -0.120
C(weekday)[T.3]       -0.1423      0.008    -18.379      0.000      -0.157      -0.127
C(weekday)[T.4]       -0.0420      0.008     -5.463      0.000      -0.057      -0.027
C(weekday)[T.5]        0.1081      0.008     14.155      0.000       0.093       0.123
C(weekday)[T.6]        0.1581      0.008     20.628      0.000       0.143       0.173
C(holiday)[T.True]          0          0        nan        nan           0           0
C(event)[T.True]       0.0369      0.013      2.879      0.004       0.012       0.062
==============================================================================
Omnibus:                     4309.187   Durbin-Watson:                   1.935
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            22704.246
Skew:                          -0.040   Prob(JB):                         0.00
Kurtosis:                       5.980   Cond. No.                     1.41e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.33e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\Anaconda3\lib\site-packages\statsmodels\base\model.py:1036: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
C:\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1818: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [ ]:
sp.stats.probplot(result.resid, plot=plt)
plt.show()

In [29]:
fig = sm.graphics.plot_regress_exog(result, "event")
fig.suptitle("")
plt.show()

ValueError: 'event' is not in list