- 각 store에서 units이 모두 0인 item_nbr은 날린다..
    - 계산량을 줄이기 위해서

In [2]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [1]:
key = pd.read_csv('../data/key.csv')
train = pd.read_csv('../data/train.csv')
weather = pd.read_csv('../data/weather.csv')
test = pd.read_csv('../data/test.csv')

In [ ]:
weather_ = weather.drop(['date', 'codesum'], axis = 1)

In [ ]:
weather_.at[0, 'sunrise']

In [ ]:
col_list = list(weather_.columns)
col_list = col_list[1:]

In [ ]:
for num in range(len(weather_)) :
    for col in col_list :
        if 'M' in weather_.at[num, col] or 'T' in weather_.at[num, col] or '-' in weather_.at[num, col] :
            weather_.set_value(num, col, np.nan)

In [29]:
def TM_transform(series, T_replace, M_replace): 
    """
    데이터내의 T, M을 원하는 값으로 바꿔주는 함수
    TM_transform(series, T_replace, M_replace)
    """
    series = series.astype(str).map(lambda s: s.strip())
    series[series == 'T'] = T_replace
    series[series =='M'] = M_replace
    return series.astype('float')

In [30]:
def match_dateformat(df, year):
    """
    영문 월을 숫자 월로 바꾸어주고 나중에 사용하기 쉽도록 datetime.date 형태로 바꾸어주는 함수
    """
    months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    for i in range(len(df)):
        dates = df.loc[i][0]
        dates = dates.split(" ")
        for j in range(len(months)):
            if dates[0] == months[j]:
                dates[0] = str(j + 1)
                dates_df = ["{} {} {}".format(year, dates[0], dates[1])]
                dates_df = pd.to_datetime(dates_df)
                df.loc[i][0] = dates_df.date[0]
    return df

In [31]:
def merge_holiday(holiday_df1, holiday_df2, holiday_df3):
    """
    각 연도별 공휴일 리스트 합치기
    """
    frame = [holiday_df1, holiday_df2, holiday_df3]
    holiday = pd.concat(frame).reset_index(drop=True)
    return holiday

In [32]:
def find_holiday(file, year):
    """
    수요에 영향을 미치는 주요 공휴일을 찾아내는 함수
    """
    holidays = ["New Year's Day", "Martin Luther King Jr. Day", "Valentine's Day",  "President's Day", "Easter Sunday", 
                      "Mother's Day", "Memorial Day", "Father's Day", "Independence Day", "Labor Day", "Columbus Day",
                      "Halloween", "Veterans Day", "Thanksgiving Day", "Black Friday", "Christmas Eve", "Christmas Day", "New Year's Eve"]
    
    holi = pd.read_excel(file, year, header=None)
    holi = match_dateformat(holi, year)
    holiday = pd.DataFrame(columns=[0,1,2,3,4])
    for _ in holidays:
        for i in range(len(holi[2])):
            if _ == holi[2][i]:
                holiday = holiday.append(holi.loc[i])
    return holiday

In [88]:
def preprocessing(df, holiday):
    """
    train데이터를 가공하는 함수
    """
#     df['units'] = np.log(df['units'] + 1)
    df['date'] = pd.to_datetime(df['date'])
    df['weekday'] = df.date.dt.weekday  # 월요일이 0 일요일이 6
    df['weekend'] = df.date.dt.weekday.isin([5, 6])  # 5: 토요일, 6: 일요일

    df['holiday'] = df.date.isin(holiday[0])
    df['weekday_holiday'] = df.holiday & (df.weekend == False)
    df['weekend_holiday'] = df.holiday & df.weekend

    # There are values that are computed as being "normal" for a given location. Normal are computed based on 30 years worth of data every ten years. (today temp - normal) = depart
    weather['date'] = pd.to_datetime(weather['date']) #weather는 글로벌변수
    for i in range(len(weather['codesum'])):
        codesum = weather['codesum'][i].split(" ")
        for _ in codesum:
            if _ == 'RA':
                weather.set_value(i, 'rain_flag', 1)
            elif _ == 'SN':
                weather.set_value(i, 'snow_flag', 1)
            elif _ == "":
                weather.set_value(i, 'normal_flag', 1)
            else:
                weather.set_value(i, 'abnormal_flag', 1)

    # return x or y depending on the condition
    # "For the purposes of this competition, we have defined a weather event as any day in which more than an inch of rain or two inches of snow was observed."
    # weather_event =  (((codesum contains SN) and (snowfall > 2)) or ((codesum contains RA) and (preciptotal > 1)))
    weather['preciptotal'] = TM_transform(weather['preciptotal'], 0.005, 0.00)
    weather['snowfall'] = TM_transform(weather['snowfall'], 0.005, 0.00)
    weather['snow_event'] = np.where(np.where(weather['snow_flag'] == 1, 1, 0) + np.where(weather['snowfall'] > 2, 1, 0) == 2, 1, 0)
    weather['rain_event'] = np.where(np.where(weather['rain_flag'] == 1, 1, 0) + np.where(weather['preciptotal'] > 1, 1, 0) == 2, 1, 0)
    weather['event'] = weather['snow_event'] + weather['rain_event']
    

#    weather['preciptotal_flag'] = np.where(weather['preciptotal'] > 0.2, 1, 0)
#     weather['depart'] = TM_transform(weather['depart'], np.nan, 0.00)
#     weather['depart_flag'] = np.where(weather['depart'] > 8.0, 1, 0)
#     weather['depart_flag'] = np.where(weather['depart'] < 8.0, -1, 0)
    
    df = pd.merge(df, key, on='store_nbr') #key는 글로벌 변수
    
    df = pd.merge(df, weather[['date', 'station_nbr', 'rain_flag', 'snow_flag', 'normal_flag', 'event']], on=['date', 'station_nbr'])
    return df

In [34]:
holiday12 = find_holiday('../data/holiday.xlsx', '2012')
holiday13 = find_holiday('../data/holiday.xlsx', '2013')
holiday14 = find_holiday('../data/holiday.xlsx', '2014')
holiday = merge_holiday(holiday12, holiday13, holiday14)
processed_train = preprocessing(train, holiday)

In [ ]:
processed_train.drop(['weekend', 'weekday_holiday', 'weekend_holiday', 'station_nbr',
                      'rain_flag', 'snow_flag', 'normal_flag'], axis = 1, inplace = True)

In [ ]:
processed_train.sort_values(by = ['date', 'store_nbr', 'item_nbr'], inplace = True)
processed_train.reset_index(drop = True, inplace = True)

In [36]:
processed_train = processed_train[:2255853]

In [64]:
processed_train.loc[0]

date               2012-01-01 00:00:00
store_nbr                            1
item_nbr                             1
units                                0
log_units                            0
weekday                              6
weekend                           True
holiday                           True
weekday_holiday                  False
weekend_holiday                   True
station_nbr                          1
rain_flag                            1
snow_flag                          NaN
normal_flag                        NaN
event                                0
Name: 0, dtype: object

In [3]:
train['log_units'] = np.log(train['units'] + 1)
train.tail()

               date  store_nbr  item_nbr  units  log_units
4617595  2014-10-31         45       107      0        0.0
4617596  2014-10-31         45       108      0        0.0
4617597  2014-10-31         45       109      0        0.0
4617598  2014-10-31         45       110      0        0.0
4617599  2014-10-31         45       111      0        0.0

In [4]:
train_new = train[:2255853]
train_new.head()

         date  store_nbr  item_nbr  units  log_units
0  2012-01-01          1         1      0        0.0
1  2012-01-01          1         2      0        0.0
2  2012-01-01          1         3      0        0.0
3  2012-01-01          1         4      0        0.0
4  2012-01-01          1         5      0        0.0

In [102]:
tmp = train_new.pivot_table(values = 'log_units', index = 'date', columns = ['item_nbr'])
item_nbr_total = list(tmp.columns)

In [103]:
tmp = tmp.loc[:, (tmp != 0).any(axis = 0)]

In [104]:
tmp_ = tmp.reset_index()

In [105]:
tmp_.head()

item_nbr,date,1,2,3,4,5,6,7,8,9,...,93,94,96,97,98,99,100,101,102,103
0,2012-01-01,0.0,0.0,0.0,0.0,1.791893,0.085482,0.024968,0.061547,1.446910,...,0.115345,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2012-01-02,0.0,0.0,0.0,0.0,1.881895,0.113726,0.015753,0.073156,1.666228,...,0.074905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2012-01-03,0.0,0.0,0.0,0.0,1.816595,0.105987,0.031507,0.090659,1.450014,...,0.031507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2012-01-04,0.0,0.0,0.0,0.0,1.694559,0.106412,0.000000,0.078767,1.457618,...,0.101758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2012-01-05,0.0,0.0,0.0,0.0,1.814586,0.110626,0.015753,0.094520,1.664719,...,0.065690,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [106]:
tmp_

item_nbr,date,1,2,3,4,5,6,7,8,9,...,93,94,96,97,98,99,100,101,102,103
0,2012-01-01,0.000000,0.000000,0.000000,0.000000,1.791893,0.085482,0.024968,0.061547,1.446910,...,0.115345,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
1,2012-01-02,0.000000,0.000000,0.000000,0.000000,1.881895,0.113726,0.015753,0.073156,1.666228,...,0.074905,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
2,2012-01-03,0.000000,0.000000,0.000000,0.000000,1.816595,0.105987,0.031507,0.090659,1.450014,...,0.031507,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
3,2012-01-04,0.000000,0.000000,0.000000,0.000000,1.694559,0.106412,0.000000,0.078767,1.457618,...,0.101758,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
4,2012-01-05,0.000000,0.000000,0.000000,0.000000,1.814586,0.110626,0.015753,0.094520,1.664719,...,0.065690,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
5,2012-01-06,0.000000,0.000000,0.000000,0.000000,1.717358,0.099874,0.036578,0.082672,1.488676,...,0.190501,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
6,2012-01-07,0.000000,0.000000,0.000000,0.000000,1.757953,0.093799,0.036578,0.070251,1.596043,...,0.169425,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
7,2012-01-08,0.000000,0.000000,0.000000,0.000000,1.857856,0.113419,0.031507,0.089801,1.559476,...,0.135242,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
8,2012-01-09,0.000000,0.000000,0.000000,0.000000,1.640761,0.106829,0.000000,0.074905,1.523189,...,0.131451,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
9,2012-01-10,0.000000,0.000000,0.000000,0.000000,1.820724,0.059979,0.036578,0.094872,1.331021,...,0.192927,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
10,2012-01-11,0.000000,0.000000,0.000000,0.000000,1.654524,0.070251,0.044225,0.059979,1.350413,...,0.024968,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
11,2012-01-12,0.000000,0.000000,0.000000,0.000000,1.647072,0.088450,0.031507,0.073156,1.489402,...,0.115345,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
12,2012-01-13,0.000000,0.000000,0.000000,0.000000,1.640041,0.099874,0.015753,0.065690,1.469238,...,0.122165,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
13,2012-01-14,0.000000,0.000000,0.000000,0.000000,1.757076,0.125578,0.015753,0.063013,1.512728,...,0.061547,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
14,2012-01-15,0.000000,0.000000,0.000000,0.000000,1.780148,0.085482,0.024968,0.079466,1.585602,...,0.102268,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
15,2012-01-16,0.000000,0.000000,0.000000,0.000000,1.698727,0.074048,0.024968,0.080145,1.302727,...,0.078767,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
16,2012-01-17,0.000000,0.000000,0.000000,0.000000,1.587570,0.074905,0.000000,0.078767,1.358853,...,0.127237,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
17,2012-01-18,0.000000,0.000000,0.000000,0.000000,1.598478,0.049937,0.015753,0.074048,1.237270,...,0.141422,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
18,2012-01-19,0.000000,0.000000,0.000000,0.000000,1.590439,0.085482,0.040722,0.059979,1.318405,...,0.072228,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
19,2012-01-20,0.000000,0.000000,0.000000,0.000000,1.580587,0.074905,0.015753,0.075732,1.450681,...,0.187856,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
20,2012-01-21,0.000000,0.000000,0.000000,0.000000,1.708395,0.073156,0.000000,0.085482,1.443021,...,0.194394,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
21,2012-01-22,0.000000,0.000000,0.000000,0.000000,1.767050,0.078045,0.015753,0.072228,1.547181,...,0.153032,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
22,2012-01-23,0.000000,0.000000,0.000000,0.000000,1.644837,0.058294,0.015753,0.078045,1.509295,...,0.157444,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
23,2012-01-24,0.000000,0.000000,0.000000,0.000000,1.529090,0.087982,0.040722,0.078045,1.403371,...,0.314810,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
24,2012-01-25,0.000000,0.000000,0.000000,0.000000,1.555772,0.061547,0.015753,0.066919,1.294428,...,0.081444,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25,2012-01-26,0.000000,0.000000,0.000000,0.000000,1.523061,0.068085,0.036578,0.071261,1.418639,...,0.065690,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
26,2012-01-27,0.000000,0.000000,0.000000,0.000000,1.552024,0.079466,0.000000,0.086004,1.304408,...,0.120188,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
27,2012-01-28,0.000000,0.000000,0.000000,0.000000,1.641540,0.081444,0.024968,0.063013,1.542051,...,0.031507,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
28,2012-01-29,0.000000,0.000000,0.000000,0.000000,1.661339,0.102014,0.024968,0.094162,1.585927,...,0.123093,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
29,2012-01-30,0.000000,0.000000,0.000000,0.000000,1.497816,0.105772,0.000000,0.071261,1.448329,...,0.096230,0.024968,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,2013-03-02,0.000000,0.086027,0.043242,0.000000,1.602710,0.093438,0.015403,0.085559,1.516014,...,0.000000,0.024414,0.0,0.000000,0.046210,0.0,0.000000,0.000000,0.000000,0.000000
426,2013-03-03,0.046210,0.122876,0.035765,0.000000,1.616350,0.051169,0.000000,0.086027,1.563729,...,0.000000,0.015403,0.0,0.000000,0.015403,0.0,0.035765,0.000000,0.000000,0.000000
427,2013-03-04,0.046210,0.110440,0.030807,0.000000,1.472714,0.074049,0.000000,0.081975,1.419728,...,0.000000,0.015403,0.0,0.000000,0.055220,0.0,0.000000,0.000000,0.000000,0.000000
428,2013-03-05,0.015403,0.103421,0.024414,0.000000,1.539793,0.101660,0.039817,0.097927,1.448444,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.035765,0.000000,0.000000,0.000000
429,2013-03-06,0.000000,0.075582,0.035765,0.000000,1.444433,0.095646,0.015403,0.083582,1.411299,...,0.000000,0.030807,0.0,0.000000,0.000000,0.0,0.024414,0.000000,0.000000,0.015403
430,2013-03-07,0.000000,0.079008,0.015403,0.000000,1.423677,0.067656,0.015403,0.084592,1.403517,...,0.000000,0.015403,0.0,0.000000,0.000000,0.0,0.015403,0.039817,0.000000,0.000000
431,2013-03-08,0.035765,0.110440,0.035765,0.015403,1.354265,0.081412,0.000000,0.065432,1.302379,...,0.000000,0.000000,0.0,0.000000,0.024414,0.0,0.015403,0.015403,0.015403,0.000000
432,2013-03-09,0.000000,0.071531,0.030807,0.024414,1.522920,0.083059,0.015403,0.081975,1.409046,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
433,2013-03-10,0.024414,0.157240,0.015403,0.000000,1.624908,0.092420,0.015403,0.095646,1.581667,...,0.000000,0.043242,0.0,0.030807,0.024414,0.0,0.000000,0.024414,0.000000,0.000000
434,2013-03-11,0.046210,0.134854,0.030807,0.000000,1.536671,0.079008,0.000000,0.100241,1.425396,...,0.000000,0.000000,0.0,0.000000,0.015403,0.0,0.035765,0.035765,0.000000,0.000000
435,2013-03-12,0.015403,0.111932,0.048827,0.030807,1.429413,0.087805,0.000000,0.074829,1.397677,...,0.000000,0.024414,0.0,0.000000,0.024414,0.0,0.000000,0.000000,0.000000,0.024414
436,2013-03-13,0.015403,0.061613,0.024414,0.000000,1.367182,0.111347,0.000000,0.086934,1.389551,...,0.000000,0.024414,0.0,0.000000,0.048827,0.0,0.000000,0.024414,0.000000,0.015403
437,2013-03-14,0.000000,0.090985,0.024414,0.000000,1.403136,0.077016,0.000000,0.051169,1.379141,...,0.000000,0.015403,0.0,0.000000,0.024414,0.0,0.015403,0.000000,0.000000,0.000000
438,2013-03-15,0.048827,0.137195,0.015403,0.000000,1.421674,0.093767,0.024414,0.064230,1.430027,...,0.000000,0.000000,0.0,0.000000,0.015403,0.0,0.015403,0.000000,0.000000,0.000000
439,2013-03-16,0.030807,0.090985,0.015403,0.024414,1.425927,0.079008,0.024414,0.079008,1.401680,...,0.000000,0.015403,0.0,0.000000,0.030807,0.0,0.024414,0.024414,0.000000,0.000000
440,2013-03-17,0.039817,0.097378,0.015403,0.000000,1.652508,0.051169,0.000000,0.095344,1.565498,...,0.000000,0.024414,0.0,0.015403,0.048827,0.0,0.000000,0.024414,0.000000,0.015403
441,2013-03-18,0.024414,0.110440,0.039817,0.015403,1.482456,0.089452,0.000000,0.083582,1.353147,...,0.000000,0.024414,0.0,0.015403,0.060179,0.0,0.024414,0.000000,0.000000,0.000000
442,2013-03-19,0.015403,0.075582,0.000000,0.000000,1.452120,0.074049,0.000000,0.088644,1.256693,...,0.000000,0.024414,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
443,2013-03-20,0.030807,0.060179,0.015403,0.000000,1.399506,0.060179,0.000000,0.062960,1.307697,...,0.000000,0.000000,0.0,0.000000,0.060179,0.0,0.000000,0.043242,0.000000,0.035765
444,2013-03-21,0.000000,0.055220,0.000000,0.015403,1.371947,0.079634,0.000000,0.079008,1.310273,...,0.000000,0.015403,0.0,0.000000,0.015403,0.0,0.030807,0.000000,0.000000,0.024414
445,2013-03-22,0.030807,0.077700,0.000000,0.000000,1.435213,0.058646,0.000000,0.046210,1.311399,...,0.000000,0.000000,0.0,0.000000,0.015403,0.0,0.015403,0.000000,0.000000,0.000000
446,2013-03-23,0.043242,0.061613,0.015403,0.000000,1.567967,0.062960,0.015403,0.067656,1.385414,...,0.000000,0.030807,0.0,0.000000,0.024414,0.0,0.000000,0.035765,0.000000,0.000000
447,2013-03-24,0.035765,0.039817,0.024414,0.000000,1.581062,0.046210,0.015403,0.078364,1.541129,...,0.000000,0.024414,0.0,0.000000,0.015403,0.0,0.024414,0.015403,0.000000,0.015403
448,2013-03-25,0.015403,0.055220,0.015403,0.024414,1.494869,0.064230,0.024414,0.081412,1.383968,...,0.000000,0.024414,0.0,0.000000,0.015403,0.0,0.015403,0.035765,0.000000,0.000000
449,2013-03-26,0.015403,0.046210,0.000000,0.000000,1.400864,0.073241,0.000000,0.058646,1.311541,...,0.000000,0.000000,0.0,0.000000,0.015403,0.0,0.000000,0.000000,0.000000,0.000000
450,2013-03-27,0.015403,0.060179,0.015403,0.000000,1.390308,0.080835,0.024414,0.056999,1.146569,...,0.000000,0.000000,0.0,0.000000,0.015403,0.0,0.000000,0.000000,0.000000,0.000000
451,2013-03-28,0.043242,0.086027,0.024414,0.000000,1.391758,0.100724,0.000000,0.048827,1.278399,...,0.000000,0.000000,0.0,0.000000,0.030807,0.0,0.000000,0.030807,0.000000,0.015403
452,2013-03-29,0.039817,0.079008,0.030807,0.015403,1.465100,0.103421,0.024414,0.030807,1.121851,...,0.000000,0.015403,0.0,0.000000,0.024414,0.0,0.048827,0.000000,0.015403,0.000000
453,2013-03-30,0.030807,0.077700,0.030807,0.030807,1.468675,0.081975,0.000000,0.051169,1.395772,...,0.000000,0.015403,0.0,0.000000,0.015403,0.0,0.000000,0.030807,0.000000,0.015403
454,2013-03-31,0.000000,0.000000,0.000000,0.000000,1.438368,0.091714,0.024414,0.074049,1.401215,...,0.000000,0.024414,0.0,0.000000,0.015403,0.0,0.030807,0.024414,0.000000,0.000000

In [107]:
item_nbr_nonzero = list(tmp.columns)

In [108]:
item_nbr_zero = []

for num in item_nbr_total :
    if num not in item_nbr_nonzero :
        item_nbr_zero.append(num)

In [111]:
item_nbr_zero

[22, 38, 47, 64, 95, 104, 105, 106, 107, 108, 109, 110, 111]

In [110]:
for num in item_nbr_zero :
    train_new_ = train_new[train_new.item_nbr != num[1]]

IndexError: invalid index to scalar variable.

In [ ]:
train_new_.reset_index(drop = True, inplace = True)

In [ ]:
train_test = preprocessing(train_new_, holiday)

In [ ]:
train_test
train_test_ = train_test.drop(['weekend', 'weekday_holiday', 'weekend_holiday', 'station_nbr',
                               'rain_flag', 'snow_flag', 'normal_flag', 'units', 'date'], axis = 1)

In [ ]:
train_test_.head()

In [ ]:
train_test_['store_nbr'] = train_test_['store_nbr'].astype('category')
train_test_['item_nbr'] = train_test_['item_nbr'].astype('category')
train_test_['weekday'] = train_test_['weekday'].astype('category')
train_test_['holiday'] = train_test_['holiday'].astype('category')
train_test_['event'] = train_test_['event'].astype('category')

In [ ]:
model1 = sm.OLS.from_formula("log_units ~ store_nbr + item_nbr + weekday + holiday + event", data = train_test_)

In [ ]:
result1 = model1.fit()
print(result1.summary())

In [ ]:
model2 = sm.OLS.from_formula("log_units ~ store_nbr + item_nbr + weekday + holiday + event + 0", data = train_test_)

In [ ]:
result2 = model2.fit()
print(result2.summary())

In [ ]:
model3 = sm.OLS.from_formula("log_units ~ C(store_nbr) + C(item_nbr) + C(weekday) + C(holiday) + C(event)", data = train_test_)

In [ ]:
result3 = model3.fit()
print(result3.summary())

In [ ]:
model4 = sm.OLS.from_formula("log_units ~ C(store_nbr) + C(item_nbr) + C(weekday) + C(holiday) + C(event) + 0 + 0 + 0 + 0 + 0", data = train_test_)

In [ ]:
result4 = model4.fit()
print(result4.summary())

In [ ]:
model5 = sm.OLS.from_formula("log_units ~ C(item_nbr) + 0", data = train_test_)
result5 = model5.fit()
print(result5.summary())

In [83]:
tmp2 = train_new.pivot_table(values = 'log_units', index = ['date', 'store_nbr', 'item_nbr'])
tmp2_ = tmp2[tmp2['log_units'] != 0]

In [86]:
tmp2_ = tmp2_.reset_index()

In [90]:
tmp2_ = preprocessing(tmp2_, holiday)

In [92]:
tmp2_test = tmp2_.drop(['weekend', 'weekday_holiday', 'weekend_holiday', 'station_nbr',
                               'rain_flag', 'snow_flag', 'normal_flag', 'date'], axis = 1)

In [93]:
tmp2_test['store_nbr'] = tmp2_test['store_nbr'].astype('category')
tmp2_test['item_nbr'] = tmp2_test['item_nbr'].astype('category')
tmp2_test['weekday'] = tmp2_test['weekday'].astype('category')
tmp2_test['holiday'] = tmp2_test['holiday'].astype('category')
tmp2_test['event'] = tmp2_test['event'].astype('category')

In [94]:
tmp2_test.head()

  store_nbr item_nbr  log_units weekday holiday event
0         1        9   3.401197       6    True     0
1         1       28   1.098612       6    True     0
2         1       51   0.693147       6    True     0
3         1        9   4.110874       0   False     0
4         1       28   1.791759       0   False     0

In [98]:
model = sm.OLS.from_formula("log_units ~ C(store_nbr) + C(item_nbr) + C(weekday) + C(holiday) + C(event) + 0", data = tmp2_test)

In [99]:
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              log_units   R-squared:                       0.873
Model:                            OLS   Adj. R-squared:                  0.873
Method:                 Least Squares   F-statistic:                     2811.
Date:                Thu, 01 Mar 2018   Prob (F-statistic):               0.00
Time:                        10:57:19   Log-Likelihood:                -45405.
No. Observations:               61318   AIC:                         9.111e+04
Df Residuals:                   61167   BIC:                         9.247e+04
Df Model:                         150
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(store_nbr)[1]        1.2951      0.052     25.100      0.000       1.194       1.396
C(store_nbr)[2]        1.6850      0.050     33.595      0.000       1.587       1.783
C(store_nbr)[3]        1.6617      0.051     32.733      0.000       1.562       1.761
C(store_nbr)[4]        2.1965      0.053     41.722      0.000       2.093       2.300
C(store_nbr)[5]        1.3441      0.051     26.209      0.000       1.244       1.445
C(store_nbr)[6]        1.5126      0.051     29.638      0.000       1.413       1.613
C(store_nbr)[7]        1.8559      0.052     35.797      0.000       1.754       1.958
C(store_nbr)[8]        1.2062      0.052     23.404      0.000       1.105       1.307
C(store_nbr)[9]        1.5690      0.051     30.813      0.000       1.469       1.669
C(store_nbr)[10]       1.5976      0.051     31.625      0.000       1.499       1.697
C(store_nbr)[11]       1.4383      0.051     28.296      0.000       1.339       1.538
C(store_nbr)[12]       1.6695      0.051     32.704      0.000       1.569       1.770
C(store_nbr)[13]       1.7720      0.052     34.272      0.000       1.671       1.873
C(store_nbr)[14]       0.5366      0.051     10.497      0.000       0.436       0.637
C(store_nbr)[15]       1.7750      0.050     35.257      0.000       1.676       1.874
C(store_nbr)[16]       1.9859      0.052     38.431      0.000       1.885       2.087
C(store_nbr)[17]       2.7543      0.051     53.697      0.000       2.654       2.855
C(store_nbr)[18]       0.7952      0.052     15.395      0.000       0.694       0.896
C(store_nbr)[19]       1.2299      0.052     23.445      0.000       1.127       1.333
C(store_nbr)[20]       1.8162      0.052     34.920      0.000       1.714       1.918
C(store_nbr)[21]       1.2702      0.051     25.072      0.000       1.171       1.369
C(store_nbr)[22]       1.6742      0.051     33.088      0.000       1.575       1.773
C(store_nbr)[23]       1.0220      0.051     19.955      0.000       0.922       1.122
C(store_nbr)[24]       2.4633      0.103     23.934      0.000       2.262       2.665
C(store_nbr)[25]       1.9222      0.050     38.087      0.000       1.823       2.021
C(store_nbr)[26]       1.4456      0.051     28.251      0.000       1.345       1.546
C(store_nbr)[27]       1.4708      0.050     29.216      0.000       1.372       1.569
C(store_nbr)[28]       1.2535      0.051     24.483      0.000       1.153       1.354
C(store_nbr)[29]       1.5093      0.052     28.858      0.000       1.407       1.612
C(store_nbr)[30]       2.0415      0.051     40.328      0.000       1.942       2.141
C(store_nbr)[31]       1.6210      0.050     32.110      0.000       1.522       1.720
C(store_nbr)[32]       1.3844      0.050     27.552      0.000       1.286       1.483
C(store_nbr)[33]       2.1633      0.050     43.276      0.000       2.065       2.261
C(store_nbr)[34]       1.7391      0.050     34.526      0.000       1.640       1.838
C(store_nbr)[35]       1.3785      0.054     25.364      0.000       1.272       1.485
C(store_nbr)[36]       1.2685      0.044     28.606      0.000       1.182       1.355
C(store_nbr)[37]       1.3423      0.051     26.205      0.000       1.242       1.443
C(store_nbr)[38]       1.8250      0.050     36.316      0.000       1.727       1.924
C(store_nbr)[39]      -0.4535      0.053     -8.586      0.000      -0.557      -0.350
C(store_nbr)[40]       1.4673      0.051     28.946      0.000       1.368       1.567
C(store_nbr)[41]       1.5836      0.051     31.257      0.000       1.484       1.683
C(store_nbr)[42]       1.4395      0.051     27.993      0.000       1.339       1.540
C(store_nbr)[43]       1.6948      0.052     32.847      0.000       1.594       1.796
C(store_nbr)[44]       1.4361      0.051     28.181      0.000       1.336       1.536
C(store_nbr)[45]       0.4646      0.053      8.696      0.000       0.360       0.569
C(item_nbr)[T.2]      -0.0248      0.055     -0.447      0.655      -0.133       0.084
C(item_nbr)[T.3]      -0.4347      0.067     -6.503      0.000      -0.566      -0.304
C(item_nbr)[T.4]       0.5899      0.077      7.630      0.000       0.438       0.741
C(item_nbr)[T.5]       2.4204      0.049     49.880      0.000       2.325       2.516
C(item_nbr)[T.6]       1.2277      0.106     11.633      0.000       1.021       1.435
C(item_nbr)[T.7]      -0.7289      0.063    -11.553      0.000      -0.853      -0.605
C(item_nbr)[T.8]       1.9729      0.057     34.439      0.000       1.861       2.085
C(item_nbr)[T.9]       2.3017      0.048     48.122      0.000       2.208       2.395
C(item_nbr)[T.10]     -0.4295      0.063     -6.803      0.000      -0.553      -0.306
C(item_nbr)[T.11]     -0.6027      0.063     -9.630      0.000      -0.725      -0.480
C(item_nbr)[T.12]     -1.0091      0.064    -15.841      0.000      -1.134      -0.884
C(item_nbr)[T.13]     -0.7555      0.066    -11.362      0.000      -0.886      -0.625
C(item_nbr)[T.14]     -0.5198      0.071     -7.290      0.000      -0.660      -0.380
C(item_nbr)[T.15]      0.3846      0.056      6.868      0.000       0.275       0.494
C(item_nbr)[T.16]      1.9004      0.049     38.452      0.000       1.804       1.997
C(item_nbr)[T.17]     -0.8220      0.061    -13.380      0.000      -0.942      -0.702
C(item_nbr)[T.18]     -0.9074      0.061    -14.771      0.000      -1.028      -0.787
C(item_nbr)[T.19]     -0.5593      0.062     -9.078      0.000      -0.680      -0.439
C(item_nbr)[T.20]     -0.3888      0.059     -6.638      0.000      -0.504      -0.274
C(item_nbr)[T.21]     -0.4909      0.053     -9.210      0.000      -0.595      -0.386
C(item_nbr)[T.23]      1.2436      0.053     23.447      0.000       1.140       1.348
C(item_nbr)[T.24]      0.4054      0.069      5.852      0.000       0.270       0.541
C(item_nbr)[T.25]      2.6392      0.053     50.010      0.000       2.536       2.743
C(item_nbr)[T.26]      1.2631      0.059     21.437      0.000       1.148       1.379
C(item_nbr)[T.27]     -0.0410      0.058     -0.712      0.477      -0.154       0.072
C(item_nbr)[T.28]      0.3740      0.057      6.579      0.000       0.263       0.485
C(item_nbr)[T.29]     -0.1053      0.060     -1.764      0.078      -0.222       0.012
C(item_nbr)[T.30]     -0.2475      0.053     -4.687      0.000      -0.351      -0.144
C(item_nbr)[T.31]     -0.7374      0.063    -11.702      0.000      -0.861      -0.614
C(item_nbr)[T.32]     -0.3048      0.064     -4.747      0.000      -0.431      -0.179
C(item_nbr)[T.33]      0.3695      0.063      5.881      0.000       0.246       0.493
C(item_nbr)[T.34]      0.3438      0.117      2.950      0.003       0.115       0.572
C(item_nbr)[T.35]     -0.1809      0.060     -2.990      0.003      -0.299      -0.062
C(item_nbr)[T.36]      2.8706      0.053     53.845      0.000       2.766       2.975
C(item_nbr)[T.37]      1.2655      0.050     25.430      0.000       1.168       1.363
C(item_nbr)[T.39]     -0.3252      0.068     -4.756      0.000      -0.459      -0.191
C(item_nbr)[T.40]     -0.3011      0.081     -3.738      0.000      -0.459      -0.143
C(item_nbr)[T.41]      1.6643      0.053     31.202      0.000       1.560       1.769
C(item_nbr)[T.42]      0.6423      0.057     11.346      0.000       0.531       0.753
C(item_nbr)[T.43]      1.3775      0.106     13.053      0.000       1.171       1.584
C(item_nbr)[T.44]      3.1724      0.048     66.321      0.000       3.079       3.266
C(item_nbr)[T.45]      2.7276      0.049     56.133      0.000       2.632       2.823
C(item_nbr)[T.46]     -0.5202      0.060     -8.661      0.000      -0.638      -0.402
C(item_nbr)[T.48]      2.3205      0.056     41.197      0.000       2.210       2.431
C(item_nbr)[T.49]     -0.5992      0.067     -8.981      0.000      -0.730      -0.468
C(item_nbr)[T.50]      0.0154      0.058      0.266      0.790      -0.098       0.129
C(item_nbr)[T.51]     -0.1949      0.055     -3.531      0.000      -0.303      -0.087
C(item_nbr)[T.52]     -0.7167      0.053    -13.490      0.000      -0.821      -0.613
C(item_nbr)[T.53]     -0.3846      0.064     -5.994      0.000      -0.510      -0.259
C(item_nbr)[T.54]     -0.7504      0.065    -11.534      0.000      -0.878      -0.623
C(item_nbr)[T.55]     -0.2611      0.062     -4.191      0.000      -0.383      -0.139
C(item_nbr)[T.56]      0.0246      0.057      0.432      0.666      -0.087       0.136
C(item_nbr)[T.57]      0.2014      0.075      2.689      0.007       0.055       0.348
C(item_nbr)[T.58]     -0.0673      0.060     -1.114      0.265      -0.186       0.051
C(item_nbr)[T.59]     -0.2794      0.059     -4.699      0.000      -0.396      -0.163
C(item_nbr)[T.60]     -1.5378      0.108    -14.219      0.000      -1.750      -1.326
C(item_nbr)[T.61]     -0.4711      0.054     -8.796      0.000      -0.576      -0.366
C(item_nbr)[T.62]     -0.4252      0.065     -6.566      0.000      -0.552      -0.298
C(item_nbr)[T.63]     -0.0263      0.082     -0.322      0.747      -0.186       0.134
C(item_nbr)[T.65]     -1.1942      0.063    -19.080      0.000      -1.317      -1.072
C(item_nbr)[T.66]      1.3778      0.062     22.383      0.000       1.257       1.498
C(item_nbr)[T.67]      0.7875      0.059     13.398      0.000       0.672       0.903
C(item_nbr)[T.68]      2.3601      0.050     47.451      0.000       2.263       2.458
C(item_nbr)[T.69]     -0.1890      0.059     -3.177      0.001      -0.306      -0.072
C(item_nbr)[T.70]      0.6177      0.069      8.920      0.000       0.482       0.753
C(item_nbr)[T.71]     -1.7848      0.064    -27.854      0.000      -1.910      -1.659
C(item_nbr)[T.72]      0.0462      0.062      0.743      0.458      -0.076       0.168
C(item_nbr)[T.73]     -0.8082      0.067    -12.020      0.000      -0.940      -0.676
C(item_nbr)[T.74]     -0.4948      0.064     -7.759      0.000      -0.620      -0.370
C(item_nbr)[T.75]     -0.1639      0.069     -2.368      0.018      -0.300      -0.028
C(item_nbr)[T.76]     -1.5092      0.115    -13.161      0.000      -1.734      -1.284
C(item_nbr)[T.77]     -0.5629      0.070     -8.002      0.000      -0.701      -0.425
C(item_nbr)[T.78]     -0.1845      0.065     -2.820      0.005      -0.313      -0.056
C(item_nbr)[T.79]     -0.4465      0.065     -6.879      0.000      -0.574      -0.319
C(item_nbr)[T.80]     -0.5518      0.064     -8.584      0.000      -0.678      -0.426
C(item_nbr)[T.81]      0.6358      0.057     11.209      0.000       0.525       0.747
C(item_nbr)[T.82]     -0.5152      0.061     -8.395      0.000      -0.635      -0.395
C(item_nbr)[T.83]      1.1205      0.057     19.520      0.000       1.008       1.233
C(item_nbr)[T.84]     -0.6679      0.066    -10.193      0.000      -0.796      -0.539
C(item_nbr)[T.85]     -1.0427      0.063    -16.666      0.000      -1.165      -0.920
C(item_nbr)[T.86]     -0.6019      0.054    -11.077      0.000      -0.708      -0.495
C(item_nbr)[T.87]     -0.2696      0.062     -4.336      0.000      -0.392      -0.148
C(item_nbr)[T.88]     -0.0188      0.068     -0.275      0.783      -0.153       0.115
C(item_nbr)[T.89]     -0.2626      0.082     -3.200      0.001      -0.423      -0.102
C(item_nbr)[T.90]     -1.1883      0.061    -19.549      0.000      -1.307      -1.069
C(item_nbr)[T.91]     -0.2554      0.064     -4.008      0.000      -0.380      -0.130
C(item_nbr)[T.92]     -0.9187      0.064    -14.389      0.000      -1.044      -0.794
C(item_nbr)[T.93]      0.0643      0.049      1.326      0.185      -0.031       0.159
C(item_nbr)[T.94]     -0.4153      0.060     -6.975      0.000      -0.532      -0.299
C(item_nbr)[T.96]     -0.8164      0.100     -8.199      0.000      -1.012      -0.621
C(item_nbr)[T.97]     -0.7862      0.082     -9.592      0.000      -0.947      -0.626
C(item_nbr)[T.98]     -0.6967      0.059    -11.754      0.000      -0.813      -0.580
C(item_nbr)[T.99]     -0.3272      0.145     -2.254      0.024      -0.612      -0.043
C(item_nbr)[T.100]    -0.0767      0.076     -1.012      0.311      -0.225       0.072
C(item_nbr)[T.101]    -1.0716      0.081    -13.249      0.000      -1.230      -0.913
C(item_nbr)[T.102]    -0.9145      0.363     -2.521      0.012      -1.626      -0.203
C(item_nbr)[T.103]     1.4622      0.107     13.713      0.000       1.253       1.671
C(weekday)[T.1]       -0.1026      0.008    -13.096      0.000      -0.118      -0.087
C(weekday)[T.2]       -0.1451      0.008    -18.602      0.000      -0.160      -0.130
C(weekday)[T.3]       -0.1526      0.008    -19.615      0.000      -0.168      -0.137
C(weekday)[T.4]       -0.0541      0.008     -6.981      0.000      -0.069      -0.039
C(weekday)[T.5]        0.0941      0.008     12.203      0.000       0.079       0.109
C(weekday)[T.6]        0.1551      0.008     20.259      0.000       0.140       0.170
C(holiday)[T.True]    -0.1270      0.010    -12.267      0.000      -0.147      -0.107
C(event)[T.1]          0.0399      0.014      2.881      0.004       0.013       0.067
C(event)[T.2]         -0.1596      0.161     -0.990      0.322      -0.476       0.156
==============================================================================
Omnibus:                     4268.906   Durbin-Watson:                   1.939
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            22324.987
Skew:                          -0.032   Prob(JB):                         0.00
Kurtosis:                       5.955   Cond. No.                         137.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

- p>t : 이 column의 계수가 0이다 : 귀무사걸 
- 기각하면 0이 아니다..constant가 0이 아니다..
- skew,kurtosis : 잔차의 skew, kurtosis
- prob(omnibus) 귀무가설의 잔차가 normal이다..
- jarque-bera : normality test.. 분포가 normal이 아니다...
- condition no : 다중공성성...크면 안좋다... 기준이 약 10000