- 각 store에서 units이 모두 0인 item_nbr은 날린다..
    - 계산량을 줄이기 위해서

In [ ]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [1]:
key = pd.read_csv('../data/key.csv')
train = pd.read_csv('../data/train.csv')
weather = pd.read_csv('../data/weather.csv')
test = pd.read_csv('../data/test.csv')

In [ ]:
weather_ = weather.drop(['date', 'codesum'], axis = 1)

In [ ]:
weather_.at[0, 'sunrise']

In [ ]:
col_list = list(weather_.columns)
col_list = col_list[1:]

In [ ]:
for num in range(len(weather_)) :
    for col in col_list :
        if 'M' in weather_.at[num, col] or 'T' in weather_.at[num, col] or '-' in weather_.at[num, col] :
            weather_.set_value(num, col, np.nan)

In [3]:
def TM_transform(series, T_replace, M_replace): 
    """
    데이터내의 T, M을 원하는 값으로 바꿔주는 함수
    TM_transform(series, T_replace, M_replace)
    """
    series = series.astype(str).map(lambda s: s.strip())
    series[series == 'T'] = T_replace
    series[series =='M'] = M_replace
    return series.astype('float')

In [4]:
def match_dateformat(df, year):
    """
    영문 월을 숫자 월로 바꾸어주고 나중에 사용하기 쉽도록 datetime.date 형태로 바꾸어주는 함수
    """
    months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    for i in range(len(df)):
        dates = df.loc[i][0]
        dates = dates.split(" ")
        for j in range(len(months)):
            if dates[0] == months[j]:
                dates[0] = str(j + 1)
                dates_df = ["{} {} {}".format(year, dates[0], dates[1])]
                dates_df = pd.to_datetime(dates_df)
                df.loc[i][0] = dates_df.date[0]
    return df

In [5]:
def merge_holiday(holiday_df1, holiday_df2, holiday_df3):
    """
    각 연도별 공휴일 리스트 합치기
    """
    frame = [holiday_df1, holiday_df2, holiday_df3]
    holiday = pd.concat(frame).reset_index(drop=True)
    return holiday

In [6]:
def find_holiday(file, year):
    """
    수요에 영향을 미치는 주요 공휴일을 찾아내는 함수
    """
    holidays = ["New Year's Day", "Martin Luther King Jr. Day", "Valentine's Day",  "President's Day", "Easter Sunday", 
                      "Mother's Day", "Memorial Day", "Father's Day", "Independence Day", "Labor Day", "Columbus Day",
                      "Halloween", "Veterans Day", "Thanksgiving Day", "Black Friday", "Christmas Eve", "Christmas Day", "New Year's Eve"]
    
    holi = pd.read_excel(file, year, header=None)
    holi = match_dateformat(holi, year)
    holiday = pd.DataFrame(columns=[0,1,2,3,4])
    for _ in holidays:
        for i in range(len(holi[2])):
            if _ == holi[2][i]:
                holiday = holiday.append(holi.loc[i])
    return holiday

In [7]:
def preprocessing(df, holiday):
    """
    train데이터를 가공하는 함수
    """
#     df['units'] = np.log(df['units'] + 1)
    df['date'] = pd.to_datetime(df['date'])
    df['weekday'] = df.date.dt.weekday  # 월요일이 0 일요일이 6
    df['weekend'] = df.date.dt.weekday.isin([5, 6])  # 5: 토요일, 6: 일요일

    df['holiday'] = df.date.isin(holiday[0])
    df['weekday_holiday'] = df.holiday & (df.weekend == False)
    df['weekend_holiday'] = df.holiday & df.weekend

    # There are values that are computed as being "normal" for a given location. Normal are computed based on 30 years worth of data every ten years. (today temp - normal) = depart
    weather['date'] = pd.to_datetime(weather['date']) #weather는 글로벌변수
    for i in range(len(weather['codesum'])):
        codesum = weather['codesum'][i].split(" ")
        for _ in codesum:
            if _ == 'RA':
                weather.set_value(i, 'rain_flag', 1)
            elif _ == 'SN':
                weather.set_value(i, 'snow_flag', 1)
            elif _ == "":
                weather.set_value(i, 'normal_flag', 1)
            else:
                weather.set_value(i, 'abnormal_flag', 1)

    # return x or y depending on the condition
    # "For the purposes of this competition, we have defined a weather event as any day in which more than an inch of rain or two inches of snow was observed."
    # weather_event =  (((codesum contains SN) and (snowfall > 2)) or ((codesum contains RA) and (preciptotal > 1)))
    weather['preciptotal'] = TM_transform(weather['preciptotal'], 0.005, 0.00)
    weather['snowfall'] = TM_transform(weather['snowfall'], 0.005, 0.00)
    weather['snow_event'] = np.where(np.where(weather['snow_flag'] == 1, 1, 0) + np.where(weather['snowfall'] > 2, 1, 0) == 2, 1, 0)
    weather['rain_event'] = np.where(np.where(weather['rain_flag'] == 1, 1, 0) + np.where(weather['preciptotal'] > 1, 1, 0) == 2, 1, 0)
    weather['event'] = weather['snow_event'] + weather['rain_event']
    

#    weather['preciptotal_flag'] = np.where(weather['preciptotal'] > 0.2, 1, 0)
#     weather['depart'] = TM_transform(weather['depart'], np.nan, 0.00)
#     weather['depart_flag'] = np.where(weather['depart'] > 8.0, 1, 0)
#     weather['depart_flag'] = np.where(weather['depart'] < 8.0, -1, 0)
    
    df = pd.merge(df, key, on='store_nbr') #key는 글로벌 변수
    
    df = pd.merge(df, weather[['date', 'station_nbr', 'rain_flag', 'snow_flag', 'normal_flag', 'event']], on=['date', 'station_nbr'])
    return df

In [9]:
def preprocessing2(df, holiday):
    """
    train데이터를 가공하는 함수
    """
#     df['units'] = np.log(df['units'] + 1)
    df['date'] = pd.to_datetime(df['date'])
    df['weekday'] = df.date.dt.weekday  # 월요일이 0 일요일이 6
    df['weekend'] = df.date.dt.weekday.isin([5, 6])  # 5: 토요일, 6: 일요일

    df['holiday'] = df.date.isin(holiday[0])

    # return x or y depending on the condition
    # "For the purposes of this competition, we have defined a weather event as any day in which more than an inch of rain or two inches of snow was observed."
    # weather_event =  (((codesum contains SN) and (snowfall > 2)) or ((codesum contains RA) and (preciptotal > 1)))
    weather['preciptotal'] = TM_transform(weather['preciptotal'], 0.005, np.NaN)
    weather['snowfall'] = TM_transform(weather['snowfall'], 0.005, np.NaN)
#     weather['snow_event'] = np.where(np.where(weather['snow_flag'] == 1, 1, 0) + np.where(weather['snowfall'] > 2, 1, 0) == 2, 1, 0)
#     weather['rain_event'] = np.where(np.where(weather['rain_flag'] == 1, 1, 0) + np.where(weather['preciptotal'] > 1, 1, 0) == 2, 1, 0)
    weather['event'] = ""
    
    for num in range(len(df)) :
        if weather.at[num, 'snowfall'] >= 2 or weather.at[num, 'preciptotal'] >= 1 :
            weather.set_value(num, 'event', 1)
        else :
            weather.set_value(num, 'event', 0)
    

#    weather['preciptotal_flag'] = np.where(weather['preciptotal'] > 0.2, 1, 0)
#     weather['depart'] = TM_transform(weather['depart'], np.nan, 0.00)
#     weather['depart_flag'] = np.where(weather['depart'] > 8.0, 1, 0)
#     weather['depart_flag'] = np.where(weather['depart'] < 8.0, -1, 0)
    
    df = pd.merge(df, key, on='store_nbr') #key는 글로벌 변수
    
    df = pd.merge(df, weather[['date', 'station_nbr', 'event']], on=['date', 'station_nbr'])
    return df

In [28]:
def preprocessing3(df, holiday):
    """
    train데이터를 가공하는 함수
    """
#     df['units'] = np.log(df['units'] + 1)
    df['date'] = pd.to_datetime(df['date'])
    df['weekday'] = df.date.dt.weekday  # 월요일이 0 일요일이 6
    df['weekend'] = df.date.dt.weekday.isin([5, 6])  # 5: 토요일, 6: 일요일

    df['holiday'] = df.date.isin(holiday[0])
    df['weekday_holiday'] = df.holiday & (df.weekend == False)
    df['weekend_holiday'] = df.holiday & df.weekend

    # There are values that are computed as being "normal" for a given location. Normal are computed based on 30 years worth of data every ten years. (today temp - normal) = depart
    weather['date'] = pd.to_datetime(weather['date']) #weather는 글로벌변수
    for i in range(len(weather['codesum'])):
        codesum = weather['codesum'][i].split(" ")
        for _ in codesum:
            if _ == 'RA':
                weather.set_value(i, 'rain_flag', 1)
            elif _ == 'SN':
                weather.set_value(i, 'snow_flag', 1)
            elif _ == "":
                weather.set_value(i, 'normal_flag', 1)
            else:
                weather.set_value(i, 'abnormal_flag', 1)

    # return x or y depending on the condition
    # "For the purposes of this competition, we have defined a weather event as any day in which more than an inch of rain or two inches of snow was observed."
    # weather_event =  (((codesum contains SN) and (snowfall > 2)) or ((codesum contains RA) and (preciptotal > 1)))
    weather['preciptotal'] = TM_transform(weather['preciptotal'], 0.005, 0.00)
    weather['snowfall'] = TM_transform(weather['snowfall'], 0.005, 0.00)
    weather['snow_event'] = np.where(np.where(weather['snow_flag'] == 1, 1, 0) + np.where(weather['snowfall'] > 2, 1, 0) == 2, 1, 0)
    weather['rain_event'] = np.where(np.where(weather['rain_flag'] == 1, 1, 0) + np.where(weather['preciptotal'] > 1, 1, 0) == 2, 1, 0)
    weather['event'] = weather['snow_event'] + weather['rain_event']
    
    for num in range(len(weather)) :
        if weather.at[num, 'event'] == 2 :
            weather.set_value(num, 'event', 1)
    

#    weather['preciptotal_flag'] = np.where(weather['preciptotal'] > 0.2, 1, 0)
#     weather['depart'] = TM_transform(weather['depart'], np.nan, 0.00)
#     weather['depart_flag'] = np.where(weather['depart'] > 8.0, 1, 0)
#     weather['depart_flag'] = np.where(weather['depart'] < 8.0, -1, 0)
    
    df = pd.merge(df, key, on='store_nbr') #key는 글로벌 변수
    
    df = pd.merge(df, weather[['date', 'station_nbr', 'rain_flag', 'snow_flag', 'normal_flag', 'event']], on=['date', 'station_nbr'])
    return df

In [ ]:
def test_preprocessing(df, holiday, weather):
    df['date'] = pd.to_datetime(df['date'])
    df['weekday'] = df.date.dt.weekday  # 월요일이 0 일요일이 6
    df['weekend'] = df.date.dt.weekday.isin([5, 6])  # 5: 토요일, 6: 일요일

    df['holiday'] = df.date.isin(holiday[0])
    df['weekday_holiday'] = df.holiday & (df.weekend == False)
    df['weekend_holiday'] = df.holiday & df.weekend
    
    df = pd.merge(df, key, on='store_nbr') #key는 글로벌 변수
    df = pd.merge(df, weather[['date', 'station_nbr', 'event']], on=['date', 'station_nbr'])
    return df

In [10]:
holiday12 = find_holiday('../data/holiday.xlsx', '2012')
holiday13 = find_holiday('../data/holiday.xlsx', '2013')
holiday14 = find_holiday('../data/holiday.xlsx', '2014')
holiday = merge_holiday(holiday12, holiday13, holiday14)
processed_train = preprocessing(train, holiday)

In [ ]:
processed_train.drop(['weekend', 'weekday_holiday', 'weekend_holiday', 'station_nbr',
                      'rain_flag', 'snow_flag', 'normal_flag'], axis = 1, inplace = True)

In [ ]:
processed_train.sort_values(by = ['date', 'store_nbr', 'item_nbr'], inplace = True)
processed_train.reset_index(drop = True, inplace = True)

In [ ]:
processed_train = processed_train[:2255853]

In [ ]:
processed_train.loc[0]

In [12]:
train['log_units'] = np.log(train['units'] + 1)
train.tail()

,date,store_nbr,item_nbr,units,weekday,weekend,holiday,weekday_holiday,weekend_holiday,log_units
4617595,2014-10-31,45,107,0,4,False,True,True,False,0.0
4617596,2014-10-31,45,108,0,4,False,True,True,False,0.0
4617597,2014-10-31,45,109,0,4,False,True,True,False,0.0
4617598,2014-10-31,45,110,0,4,False,True,True,False,0.0
4617599,2014-10-31,45,111,0,4,False,True,True,False,0.0

In [13]:
train_new = train[:2255853]
train_new.head()

,date,store_nbr,item_nbr,units,weekday,weekend,holiday,weekday_holiday,weekend_holiday,log_units
0,2012-01-01,1,1,0,6,True,True,False,True,0.0
1,2012-01-01,1,2,0,6,True,True,False,True,0.0
2,2012-01-01,1,3,0,6,True,True,False,True,0.0
3,2012-01-01,1,4,0,6,True,True,False,True,0.0
4,2012-01-01,1,5,0,6,True,True,False,True,0.0

In [ ]:
tmp = train_new.pivot_table(values = 'log_units', index = 'date', columns = ['item_nbr'])
item_nbr_total = list(tmp.columns)

In [ ]:
tmp = tmp.loc[:, (tmp != 0).any(axis = 0)]

In [ ]:
tmp_ = tmp.reset_index()

In [ ]:
tmp_.head()

In [ ]:
item_nbr_nonzero = list(tmp.columns)

In [ ]:
item_nbr_zero = []

for num in item_nbr_total :
    if num not in item_nbr_nonzero :
        item_nbr_zero.append(num)

In [ ]:
item_nbr_zero

In [ ]:
for num in item_nbr_zero :
    train_new_ = train_new[train_new.item_nbr != num[1]]

In [ ]:
train_new_.reset_index(drop = True, inplace = True)

In [ ]:
train_test = preprocessing(train_new_, holiday)

In [ ]:
train_test
train_test_ = train_test.drop(['weekend', 'weekday_holiday', 'weekend_holiday', 'station_nbr',
                               'rain_flag', 'snow_flag', 'normal_flag', 'units', 'date'], axis = 1)

In [ ]:
train_test_.head()

In [ ]:
train_test_['store_nbr'] = train_test_['store_nbr'].astype('category')
train_test_['item_nbr'] = train_test_['item_nbr'].astype('category')
train_test_['weekday'] = train_test_['weekday'].astype('category')
train_test_['holiday'] = train_test_['holiday'].astype('category')
train_test_['event'] = train_test_['event'].astype('category')

In [ ]:
model1 = sm.OLS.from_formula("log_units ~ store_nbr + item_nbr + weekday + holiday + event", data = train_test_)

In [ ]:
result1 = model1.fit()
print(result1.summary())

In [ ]:
model2 = sm.OLS.from_formula("log_units ~ store_nbr + item_nbr + weekday + holiday + event + 0", data = train_test_)

In [ ]:
result2 = model2.fit()
print(result2.summary())

In [ ]:
model3 = sm.OLS.from_formula("log_units ~ C(store_nbr) + C(item_nbr) + C(weekday) + C(holiday) + C(event)", data = train_test_)

In [ ]:
result3 = model3.fit()
print(result3.summary())

In [ ]:
model4 = sm.OLS.from_formula("log_units ~ C(store_nbr) + C(item_nbr) + C(weekday) + C(holiday) + C(event) + 0 + 0 + 0 + 0 + 0", data = train_test_)

In [ ]:
result4 = model4.fit()
print(result4.summary())

In [ ]:
model5 = sm.OLS.from_formula("log_units ~ C(item_nbr) + 0", data = train_test_)
result5 = model5.fit()
print(result5.summary())

In [22]:
tmp2 = train_new.pivot_table(values = 'log_units', index = ['date', 'store_nbr', 'item_nbr'])
tmp2_ = tmp2[tmp2['log_units'] != 0]

In [23]:
tmp2_ = tmp2_.reset_index()

In [19]:
tmp2_ = preprocessing(tmp2_, holiday)

In [29]:
tmp2_ = preprocessing3(tmp2_, holiday)

In [30]:
tmp2_.tail()

,date,store_nbr,item_nbr,log_units,weekday,weekend,holiday,weekday_holiday,weekend_holiday,station_nbr,rain_flag,snow_flag,normal_flag,event
61313,2013-03-30,35,24,1.945910,5,True,False,False,False,5,NaN,NaN,1.0,0
61314,2013-03-30,35,63,2.302585,5,True,False,False,False,5,NaN,NaN,1.0,0
61315,2013-03-30,35,66,3.637586,5,True,False,False,False,5,NaN,NaN,1.0,0
61316,2013-03-31,35,16,3.218876,6,True,True,False,True,5,NaN,NaN,1.0,0
61317,2013-03-31,35,66,2.890372,6,True,True,False,True,5,NaN,NaN,1.0,0

In [32]:
tmp2_test = tmp2_.drop(['weekend', 'weekday_holiday', 'weekend_holiday', 'station_nbr',
                               'rain_flag', 'snow_flag', 'normal_flag', 'date'], axis = 1)

In [ ]:
tmp2_test['store_nbr'] = tmp2_test['store_nbr'].astype('category')
tmp2_test['item_nbr'] = tmp2_test['item_nbr'].astype('category')
tmp2_test['weekday'] = tmp2_test['weekday'].astype('category')
tmp2_test['holiday'] = tmp2_test['holiday'].astype('category')
tmp2_test['event'] = tmp2_test['event'].astype('category')

In [ ]:
tmp2_test.head()

In [ ]:
tmp2_test_add = sm.add_constant(tmp2_test)

In [ ]:
tmp2_test_add.head()

In [ ]:
tmp2_test.head()

In [33]:
model = sm.OLS.from_formula("log_units ~ 0 + C(store_nbr) + C(item_nbr) + C(weekday) + C(holiday) + C(event)", data = tmp2_test)

In [34]:
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              log_units   R-squared:                       0.873
Model:                            OLS   Adj. R-squared:                  0.873
Method:                 Least Squares   F-statistic:                     2829.
Date:                Mon, 05 Mar 2018   Prob (F-statistic):               0.00
Time:                        10:54:37   Log-Likelihood:                -45406.
No. Observations:               61318   AIC:                         9.111e+04
Df Residuals:                   61168   BIC:                         9.247e+04
Df Model:                         149
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(store_nbr)[1]        1.2953      0.052     25.103      0.000       1.194       1.396
C(store_nbr)[2]        1.6851      0.050     33.595      0.000       1.587       1.783
C(store_nbr)[3]        1.6618      0.051     32.735      0.000       1.562       1.761
C(store_nbr)[4]        2.1966      0.053     41.724      0.000       2.093       2.300
C(store_nbr)[5]        1.3442      0.051     26.212      0.000       1.244       1.445
C(store_nbr)[6]        1.5127      0.051     29.639      0.000       1.413       1.613
C(store_nbr)[7]        1.8560      0.052     35.798      0.000       1.754       1.958
C(store_nbr)[8]        1.2062      0.052     23.406      0.000       1.105       1.307
C(store_nbr)[9]        1.5691      0.051     30.815      0.000       1.469       1.669
C(store_nbr)[10]       1.5978      0.051     31.628      0.000       1.499       1.697
C(store_nbr)[11]       1.4385      0.051     28.298      0.000       1.339       1.538
C(store_nbr)[12]       1.6696      0.051     32.706      0.000       1.570       1.770
C(store_nbr)[13]       1.7721      0.052     34.274      0.000       1.671       1.873
C(store_nbr)[14]       0.5367      0.051     10.499      0.000       0.436       0.637
C(store_nbr)[15]       1.7752      0.050     35.260      0.000       1.677       1.874
C(store_nbr)[16]       1.9853      0.052     38.420      0.000       1.884       2.087
C(store_nbr)[17]       2.7544      0.051     53.699      0.000       2.654       2.855
C(store_nbr)[18]       0.7953      0.052     15.397      0.000       0.694       0.897
C(store_nbr)[19]       1.2301      0.052     23.450      0.000       1.127       1.333
C(store_nbr)[20]       1.8163      0.052     34.921      0.000       1.714       1.918
C(store_nbr)[21]       1.2702      0.051     25.073      0.000       1.171       1.370
C(store_nbr)[22]       1.6744      0.051     33.090      0.000       1.575       1.774
C(store_nbr)[23]       1.0221      0.051     19.956      0.000       0.922       1.123
C(store_nbr)[24]       2.4634      0.103     23.934      0.000       2.262       2.665
C(store_nbr)[25]       1.9223      0.050     38.088      0.000       1.823       2.021
C(store_nbr)[26]       1.4457      0.051     28.252      0.000       1.345       1.546
C(store_nbr)[27]       1.4709      0.050     29.219      0.000       1.372       1.570
C(store_nbr)[28]       1.2536      0.051     24.485      0.000       1.153       1.354
C(store_nbr)[29]       1.5094      0.052     28.860      0.000       1.407       1.612
C(store_nbr)[30]       2.0408      0.051     40.317      0.000       1.942       2.140
C(store_nbr)[31]       1.6211      0.050     32.112      0.000       1.522       1.720
C(store_nbr)[32]       1.3845      0.050     27.554      0.000       1.286       1.483
C(store_nbr)[33]       2.1634      0.050     43.277      0.000       2.065       2.261
C(store_nbr)[34]       1.7392      0.050     34.527      0.000       1.640       1.838
C(store_nbr)[35]       1.3786      0.054     25.366      0.000       1.272       1.485
C(store_nbr)[36]       1.2685      0.044     28.607      0.000       1.182       1.355
C(store_nbr)[37]       1.3424      0.051     26.206      0.000       1.242       1.443
C(store_nbr)[38]       1.8251      0.050     36.317      0.000       1.727       1.924
C(store_nbr)[39]      -0.4534      0.053     -8.584      0.000      -0.557      -0.350
C(store_nbr)[40]       1.4674      0.051     28.948      0.000       1.368       1.567
C(store_nbr)[41]       1.5837      0.051     31.260      0.000       1.484       1.683
C(store_nbr)[42]       1.4396      0.051     27.995      0.000       1.339       1.540
C(store_nbr)[43]       1.6949      0.052     32.849      0.000       1.594       1.796
C(store_nbr)[44]       1.4363      0.051     28.184      0.000       1.336       1.536
C(store_nbr)[45]       0.4647      0.053      8.697      0.000       0.360       0.569
C(item_nbr)[T.2]      -0.0248      0.055     -0.448      0.654      -0.133       0.084
C(item_nbr)[T.3]      -0.4347      0.067     -6.503      0.000      -0.566      -0.304
C(item_nbr)[T.4]       0.5899      0.077      7.630      0.000       0.438       0.741
C(item_nbr)[T.5]       2.4204      0.049     49.879      0.000       2.325       2.516
C(item_nbr)[T.6]       1.2277      0.106     11.633      0.000       1.021       1.435
C(item_nbr)[T.7]      -0.7289      0.063    -11.554      0.000      -0.853      -0.605
C(item_nbr)[T.8]       1.9729      0.057     34.439      0.000       1.861       2.085
C(item_nbr)[T.9]       2.3017      0.048     48.121      0.000       2.208       2.395
C(item_nbr)[T.10]     -0.4295      0.063     -6.803      0.000      -0.553      -0.306
C(item_nbr)[T.11]     -0.6026      0.063     -9.629      0.000      -0.725      -0.480
C(item_nbr)[T.12]     -1.0091      0.064    -15.842      0.000      -1.134      -0.884
C(item_nbr)[T.13]     -0.7548      0.066    -11.352      0.000      -0.885      -0.624
C(item_nbr)[T.14]     -0.5198      0.071     -7.290      0.000      -0.660      -0.380
C(item_nbr)[T.15]      0.3845      0.056      6.867      0.000       0.275       0.494
C(item_nbr)[T.16]      1.9004      0.049     38.452      0.000       1.804       1.997
C(item_nbr)[T.17]     -0.8221      0.061    -13.382      0.000      -0.943      -0.702
C(item_nbr)[T.18]     -0.9074      0.061    -14.771      0.000      -1.028      -0.787
C(item_nbr)[T.19]     -0.5594      0.062     -9.079      0.000      -0.680      -0.439
C(item_nbr)[T.20]     -0.3888      0.059     -6.638      0.000      -0.504      -0.274
C(item_nbr)[T.21]     -0.4909      0.053     -9.211      0.000      -0.595      -0.386
C(item_nbr)[T.23]      1.2436      0.053     23.446      0.000       1.140       1.348
C(item_nbr)[T.24]      0.4053      0.069      5.851      0.000       0.270       0.541
C(item_nbr)[T.25]      2.6392      0.053     50.008      0.000       2.536       2.743
C(item_nbr)[T.26]      1.2631      0.059     21.437      0.000       1.148       1.379
C(item_nbr)[T.27]     -0.0410      0.058     -0.712      0.476      -0.154       0.072
C(item_nbr)[T.28]      0.3739      0.057      6.578      0.000       0.263       0.485
C(item_nbr)[T.29]     -0.1054      0.060     -1.765      0.078      -0.222       0.012
C(item_nbr)[T.30]     -0.2475      0.053     -4.686      0.000      -0.351      -0.144
C(item_nbr)[T.31]     -0.7374      0.063    -11.703      0.000      -0.861      -0.614
C(item_nbr)[T.32]     -0.3048      0.064     -4.747      0.000      -0.431      -0.179
C(item_nbr)[T.33]      0.3694      0.063      5.880      0.000       0.246       0.493
C(item_nbr)[T.34]      0.3438      0.117      2.950      0.003       0.115       0.572
C(item_nbr)[T.35]     -0.1809      0.060     -2.991      0.003      -0.299      -0.062
C(item_nbr)[T.36]      2.8706      0.053     53.845      0.000       2.766       2.975
C(item_nbr)[T.37]      1.2655      0.050     25.429      0.000       1.168       1.363
C(item_nbr)[T.39]     -0.3265      0.068     -4.776      0.000      -0.460      -0.193
C(item_nbr)[T.40]     -0.3012      0.081     -3.739      0.000      -0.459      -0.143
C(item_nbr)[T.41]      1.6643      0.053     31.202      0.000       1.560       1.769
C(item_nbr)[T.42]      0.6423      0.057     11.346      0.000       0.531       0.753
C(item_nbr)[T.43]      1.3775      0.106     13.053      0.000       1.171       1.584
C(item_nbr)[T.44]      3.1725      0.048     66.322      0.000       3.079       3.266
C(item_nbr)[T.45]      2.7276      0.049     56.132      0.000       2.632       2.823
C(item_nbr)[T.46]     -0.5202      0.060     -8.661      0.000      -0.638      -0.402
C(item_nbr)[T.48]      2.3205      0.056     41.197      0.000       2.210       2.431
C(item_nbr)[T.49]     -0.6006      0.067     -9.004      0.000      -0.731      -0.470
C(item_nbr)[T.50]      0.0156      0.058      0.269      0.788      -0.098       0.129
C(item_nbr)[T.51]     -0.1954      0.055     -3.539      0.000      -0.304      -0.087
C(item_nbr)[T.52]     -0.7167      0.053    -13.490      0.000      -0.821      -0.613
C(item_nbr)[T.53]     -0.3847      0.064     -5.995      0.000      -0.510      -0.259
C(item_nbr)[T.54]     -0.7504      0.065    -11.534      0.000      -0.878      -0.623
C(item_nbr)[T.55]     -0.2612      0.062     -4.192      0.000      -0.383      -0.139
C(item_nbr)[T.56]      0.0246      0.057      0.431      0.666      -0.087       0.136
C(item_nbr)[T.57]      0.2014      0.075      2.689      0.007       0.055       0.348
C(item_nbr)[T.58]     -0.0674      0.060     -1.115      0.265      -0.186       0.051
C(item_nbr)[T.59]     -0.2795      0.059     -4.699      0.000      -0.396      -0.163
C(item_nbr)[T.60]     -1.5378      0.108    -14.219      0.000      -1.750      -1.326
C(item_nbr)[T.61]     -0.4711      0.054     -8.797      0.000      -0.576      -0.366
C(item_nbr)[T.62]     -0.4253      0.065     -6.566      0.000      -0.552      -0.298
C(item_nbr)[T.63]     -0.0264      0.082     -0.323      0.747      -0.186       0.134
C(item_nbr)[T.65]     -1.1935      0.063    -19.069      0.000      -1.316      -1.071
C(item_nbr)[T.66]      1.3777      0.062     22.381      0.000       1.257       1.498
C(item_nbr)[T.67]      0.7875      0.059     13.397      0.000       0.672       0.903
C(item_nbr)[T.68]      2.3601      0.050     47.450      0.000       2.263       2.458
C(item_nbr)[T.69]     -0.1891      0.059     -3.179      0.001      -0.306      -0.073
C(item_nbr)[T.70]      0.6176      0.069      8.920      0.000       0.482       0.753
C(item_nbr)[T.71]     -1.7848      0.064    -27.854      0.000      -1.910      -1.659
C(item_nbr)[T.72]      0.0462      0.062      0.743      0.458      -0.076       0.168
C(item_nbr)[T.73]     -0.8082      0.067    -12.020      0.000      -0.940      -0.676
C(item_nbr)[T.74]     -0.4948      0.064     -7.759      0.000      -0.620      -0.370
C(item_nbr)[T.75]     -0.1641      0.069     -2.371      0.018      -0.300      -0.028
C(item_nbr)[T.76]     -1.5092      0.115    -13.161      0.000      -1.734      -1.284
C(item_nbr)[T.77]     -0.5639      0.070     -8.016      0.000      -0.702      -0.426
C(item_nbr)[T.78]     -0.1844      0.065     -2.819      0.005      -0.313      -0.056
C(item_nbr)[T.79]     -0.4465      0.065     -6.879      0.000      -0.574      -0.319
C(item_nbr)[T.80]     -0.5519      0.064     -8.585      0.000      -0.678      -0.426
C(item_nbr)[T.81]      0.6357      0.057     11.209      0.000       0.525       0.747
C(item_nbr)[T.82]     -0.5152      0.061     -8.396      0.000      -0.636      -0.395
C(item_nbr)[T.83]      1.1203      0.057     19.518      0.000       1.008       1.233
C(item_nbr)[T.84]     -0.6679      0.066    -10.193      0.000      -0.796      -0.539
C(item_nbr)[T.85]     -1.0423      0.063    -16.661      0.000      -1.165      -0.920
C(item_nbr)[T.86]     -0.6019      0.054    -11.076      0.000      -0.708      -0.495
C(item_nbr)[T.87]     -0.2697      0.062     -4.336      0.000      -0.392      -0.148
C(item_nbr)[T.88]     -0.0189      0.068     -0.277      0.782      -0.153       0.115
C(item_nbr)[T.89]     -0.2627      0.082     -3.201      0.001      -0.424      -0.102
C(item_nbr)[T.90]     -1.1884      0.061    -19.549      0.000      -1.308      -1.069
C(item_nbr)[T.91]     -0.2553      0.064     -4.008      0.000      -0.380      -0.130
C(item_nbr)[T.92]     -0.9187      0.064    -14.388      0.000      -1.044      -0.794
C(item_nbr)[T.93]      0.0644      0.049      1.326      0.185      -0.031       0.160
C(item_nbr)[T.94]     -0.4154      0.060     -6.976      0.000      -0.532      -0.299
C(item_nbr)[T.96]     -0.8164      0.100     -8.199      0.000      -1.012      -0.621
C(item_nbr)[T.97]     -0.7862      0.082     -9.593      0.000      -0.947      -0.626
C(item_nbr)[T.98]     -0.6967      0.059    -11.754      0.000      -0.813      -0.581
C(item_nbr)[T.99]     -0.3273      0.145     -2.255      0.024      -0.612      -0.043
C(item_nbr)[T.100]    -0.0767      0.076     -1.013      0.311      -0.225       0.072
C(item_nbr)[T.101]    -1.0717      0.081    -13.249      0.000      -1.230      -0.913
C(item_nbr)[T.102]    -0.9145      0.363     -2.521      0.012      -1.626      -0.203
C(item_nbr)[T.103]     1.4622      0.107     13.713      0.000       1.253       1.671
C(weekday)[T.1]       -0.1026      0.008    -13.098      0.000      -0.118      -0.087
C(weekday)[T.2]       -0.1452      0.008    -18.614      0.000      -0.161      -0.130
C(weekday)[T.3]       -0.1527      0.008    -19.642      0.000      -0.168      -0.137
C(weekday)[T.4]       -0.0541      0.008     -6.985      0.000      -0.069      -0.039
C(weekday)[T.5]        0.0941      0.008     12.204      0.000       0.079       0.109
C(weekday)[T.6]        0.1551      0.008     20.256      0.000       0.140       0.170
C(holiday)[T.True]    -0.1270      0.010    -12.265      0.000      -0.147      -0.107
C(event)[T.1]          0.0386      0.014      2.791      0.005       0.011       0.066
==============================================================================
Omnibus:                     4268.596   Durbin-Watson:                   1.939
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            22322.714
Skew:                          -0.032   Prob(JB):                         0.00
Kurtosis:                       5.955   Cond. No.                         137.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

- p>t : 이 column의 계수가 0이다 : 귀무사걸 
- 기각하면 0이 아니다..constant가 0이 아니다..
- skew,kurtosis : 잔차의 skew, kurtosis
- prob(omnibus) 귀무가설의 잔차가 normal이다..
- jarque-bera : normality test.. 분포가 normal이 아니다...
- condition no : 다중공성성...크면 안좋다... 기준이 약 10000

In [ ]:
result.params[40:]

[22, 38, 47, 64, 95, 104, 105, 106, 107, 108, 109, 110, 111]

In [ ]:
test_sub = preprocessing(test, holiday)

In [ ]:
test_sub = test_sub.drop(['weekend', 'weekday_holiday', 'weekend_holiday', 'station_nbr',
                               'rain_flag', 'snow_flag', 'normal_flag', 'date'], axis = 1)

In [ ]:
test_sub.head()

In [ ]:
result.predict(test_sub)

In [ ]:
from patsy import dmatrix, demo_data, ContrastMatrix, Poly
data = demo_data("a", nlevels=3)

In [ ]:
data

In [ ]:
dmatrix("C(a) + 0", data)

In [ ]:
dmatrix("C(a)", data)

- test set을 만들어서 kaggle에 제출하여 결과 매니져님께..
- 1번카테고리가 날라가면 2번으로 대체하는 방식..? 비슷한걸로 방식..
- 평균 그래프에서 결론을 내는건 data loss가 있을 수 있어서 위험하다