In [ ]:
%whos

In [ ]:
# 30번 store 2013-12-25 예측값은 0으로..?

In [1]:
key = pd.read_csv('../data/key.csv')
train = pd.read_csv('../data/train.csv')
weather = pd.read_csv('../data/weather.csv')
test = pd.read_csv('../data/test.csv')

In [2]:
test['units'] = 'M'
test['log_units'] = 'M'
test['test'] = True
test.tail()

              date  store_nbr  item_nbr units log_units  test
526912  2014-10-26         45       107     M         M  True
526913  2014-10-26         45       108     M         M  True
526914  2014-10-26         45       109     M         M  True
526915  2014-10-26         45       110     M         M  True
526916  2014-10-26         45       111     M         M  True

In [3]:
train['log_units'] = np.log(train['units'] + 1)
train['test'] = False
train.tail()

               date  store_nbr  item_nbr  units  log_units   test
4617595  2014-10-31         45       107      0        0.0  False
4617596  2014-10-31         45       108      0        0.0  False
4617597  2014-10-31         45       109      0        0.0  False
4617598  2014-10-31         45       110      0        0.0  False
4617599  2014-10-31         45       111      0        0.0  False

In [4]:
train_df = train[train['date'] <= '2013-03-31']
train_df.tail()

               date  store_nbr  item_nbr  units  log_units   test
2255848  2013-03-31         45       107      0        0.0  False
2255849  2013-03-31         45       108      0        0.0  False
2255850  2013-03-31         45       109      0        0.0  False
2255851  2013-03-31         45       110      0        0.0  False
2255852  2013-03-31         45       111      0        0.0  False

In [5]:
temp = pd.concat([train, test], axis = 0, ignore_index = True)
temp.sort_values(by = ['date', 'store_nbr', 'item_nbr'], inplace = True)
temp.reset_index(drop = True, inplace = True)
temp.tail()

               date  store_nbr  item_nbr units log_units   test
5144512  2014-10-31         45       107     0         0  False
5144513  2014-10-31         45       108     0         0  False
5144514  2014-10-31         45       109     0         0  False
5144515  2014-10-31         45       110     0         0  False
5144516  2014-10-31         45       111     0         0  False

In [6]:
def get_temp_s_i(df, store_nbr, item_nbr) :
    _df = df[df['store_nbr'] == store_nbr]
    _df.reset_index(drop = True, inplace = True)
    
    new_df = _df[_df['item_nbr'] == item_nbr]
    new_df.reset_index(drop = True, inplace = True)
    
    return new_df

In [22]:
result_list = []
window = 30

for store_nbr in range(1, 46) :
    for item_nbr in range(1,112) :
        df = get_temp_s_i(temp, store_nbr, item_nbr)
        
        for num in range(len(df)) :
            if df.at[num, 'log_units'] == 'M' :
                tmp = 0.0
                for x in range(1, window + 1) :
                    tmp += float(df.at[num - x, 'log_units'])
                    result = tmp / window
                
                    df.set_value(num, 'log_units', result)
        
        result_list.append(df)
#오래걸림..ㅎㅎ

In [23]:
aaa = pd.concat(result_list)

In [24]:
bbb = aaa[aaa['test'] == True]

In [25]:
bbb.sort_values(by = ['date', 'store_nbr', 'item_nbr'], inplace = True)
bbb.reset_index(drop = True, inplace = True)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
bbb.head()

         date  store_nbr  item_nbr units log_units  test
0  2013-04-01          2         1     M         0  True
1  2013-04-01          2         2     M         0  True
2  2013-04-01          2         3     M         0  True
3  2013-04-01          2         4     M         0  True
4  2013-04-01          2         5     M   3.96613  True

In [27]:
bbb['date'] = bbb['date'].astype('str')
bbb['store_nbr'] = bbb['store_nbr'].astype('str')
bbb['item_nbr'] = bbb['item_nbr'].astype('str')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
bbb['id'] = bbb['store_nbr'] + '_' + bbb['item_nbr'] + '_' + bbb['date']

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
bbb.drop(['date', 'store_nbr', 'item_nbr', 'test', 'units'], axis = 1, inplace = True)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
bbb.head()

  log_units              id
0         0  2_1_2013-04-01
1         0  2_2_2013-04-01
2         0  2_3_2013-04-01
3         0  2_4_2013-04-01
4   3.94335  2_5_2013-04-01

In [30]:
bbb['units'] = ""

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
for num in range(len(bbb)) :
    bbb.set_value(num, 'units', np.exp(bbb.at[num, 'log_units']) - 1)

In [32]:
bbb.drop(['log_units'], axis = 1, inplace = True)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
bbb.to_csv('ma3.csv', index = False)

- window 21 -> 0.10568
- window 10 -> 0.10764
- window 30 -> 0.10483