- 각 store에서 units이 모두 0인 item_nbr은 날린다..
    - 계산량을 줄이기 위해서

In [2]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [1]:
key = pd.read_csv('../data/key.csv')
train = pd.read_csv('../data/train.csv')
weather = pd.read_csv('../data/weather.csv')
test = pd.read_csv('../data/test.csv')

In [ ]:
weather_ = weather.drop(['date', 'codesum'], axis = 1)

In [ ]:
weather_.at[0, 'sunrise']

In [ ]:
col_list = list(weather_.columns)
col_list = col_list[1:]

In [ ]:
for num in range(len(weather_)) :
    for col in col_list :
        if 'M' in weather_.at[num, col] or 'T' in weather_.at[num, col] or '-' in weather_.at[num, col] :
            weather_.set_value(num, col, np.nan)

In [29]:
def TM_transform(series, T_replace, M_replace): 
    """
    데이터내의 T, M을 원하는 값으로 바꿔주는 함수
    TM_transform(series, T_replace, M_replace)
    """
    series = series.astype(str).map(lambda s: s.strip())
    series[series == 'T'] = T_replace
    series[series =='M'] = M_replace
    return series.astype('float')

In [30]:
def match_dateformat(df, year):
    """
    영문 월을 숫자 월로 바꾸어주고 나중에 사용하기 쉽도록 datetime.date 형태로 바꾸어주는 함수
    """
    months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    for i in range(len(df)):
        dates = df.loc[i][0]
        dates = dates.split(" ")
        for j in range(len(months)):
            if dates[0] == months[j]:
                dates[0] = str(j + 1)
                dates_df = ["{} {} {}".format(year, dates[0], dates[1])]
                dates_df = pd.to_datetime(dates_df)
                df.loc[i][0] = dates_df.date[0]
    return df

In [31]:
def merge_holiday(holiday_df1, holiday_df2, holiday_df3):
    """
    각 연도별 공휴일 리스트 합치기
    """
    frame = [holiday_df1, holiday_df2, holiday_df3]
    holiday = pd.concat(frame).reset_index(drop=True)
    return holiday

In [32]:
def find_holiday(file, year):
    """
    수요에 영향을 미치는 주요 공휴일을 찾아내는 함수
    """
    holidays = ["New Year's Day", "Martin Luther King Jr. Day", "Valentine's Day",  "President's Day", "Easter Sunday", 
                      "Mother's Day", "Memorial Day", "Father's Day", "Independence Day", "Labor Day", "Columbus Day",
                      "Halloween", "Veterans Day", "Thanksgiving Day", "Black Friday", "Christmas Eve", "Christmas Day", "New Year's Eve"]
    
    holi = pd.read_excel(file, year, header=None)
    holi = match_dateformat(holi, year)
    holiday = pd.DataFrame(columns=[0,1,2,3,4])
    for _ in holidays:
        for i in range(len(holi[2])):
            if _ == holi[2][i]:
                holiday = holiday.append(holi.loc[i])
    return holiday

In [88]:
def preprocessing(df, holiday):
    """
    train데이터를 가공하는 함수
    """
#     df['units'] = np.log(df['units'] + 1)
    df['date'] = pd.to_datetime(df['date'])
    df['weekday'] = df.date.dt.weekday  # 월요일이 0 일요일이 6
    df['weekend'] = df.date.dt.weekday.isin([5, 6])  # 5: 토요일, 6: 일요일

    df['holiday'] = df.date.isin(holiday[0])
    df['weekday_holiday'] = df.holiday & (df.weekend == False)
    df['weekend_holiday'] = df.holiday & df.weekend

    # There are values that are computed as being "normal" for a given location. Normal are computed based on 30 years worth of data every ten years. (today temp - normal) = depart
    weather['date'] = pd.to_datetime(weather['date']) #weather는 글로벌변수
    for i in range(len(weather['codesum'])):
        codesum = weather['codesum'][i].split(" ")
        for _ in codesum:
            if _ == 'RA':
                weather.set_value(i, 'rain_flag', 1)
            elif _ == 'SN':
                weather.set_value(i, 'snow_flag', 1)
            elif _ == "":
                weather.set_value(i, 'normal_flag', 1)
            else:
                weather.set_value(i, 'abnormal_flag', 1)

    # return x or y depending on the condition
    # "For the purposes of this competition, we have defined a weather event as any day in which more than an inch of rain or two inches of snow was observed."
    # weather_event =  (((codesum contains SN) and (snowfall > 2)) or ((codesum contains RA) and (preciptotal > 1)))
    weather['preciptotal'] = TM_transform(weather['preciptotal'], 0.005, 0.00)
    weather['snowfall'] = TM_transform(weather['snowfall'], 0.005, 0.00)
    weather['snow_event'] = np.where(np.where(weather['snow_flag'] == 1, 1, 0) + np.where(weather['snowfall'] > 2, 1, 0) == 2, 1, 0)
    weather['rain_event'] = np.where(np.where(weather['rain_flag'] == 1, 1, 0) + np.where(weather['preciptotal'] > 1, 1, 0) == 2, 1, 0)
    weather['event'] = weather['snow_event'] + weather['rain_event']
    

#    weather['preciptotal_flag'] = np.where(weather['preciptotal'] > 0.2, 1, 0)
#     weather['depart'] = TM_transform(weather['depart'], np.nan, 0.00)
#     weather['depart_flag'] = np.where(weather['depart'] > 8.0, 1, 0)
#     weather['depart_flag'] = np.where(weather['depart'] < 8.0, -1, 0)
    
    df = pd.merge(df, key, on='store_nbr') #key는 글로벌 변수
    
    df = pd.merge(df, weather[['date', 'station_nbr', 'rain_flag', 'snow_flag', 'normal_flag', 'event']], on=['date', 'station_nbr'])
    return df

In [34]:
holiday12 = find_holiday('../data/holiday.xlsx', '2012')
holiday13 = find_holiday('../data/holiday.xlsx', '2013')
holiday14 = find_holiday('../data/holiday.xlsx', '2014')
holiday = merge_holiday(holiday12, holiday13, holiday14)
processed_train = preprocessing(train, holiday)

In [ ]:
processed_train.drop(['weekend', 'weekday_holiday', 'weekend_holiday', 'station_nbr',
                      'rain_flag', 'snow_flag', 'normal_flag'], axis = 1, inplace = True)

In [ ]:
processed_train.sort_values(by = ['date', 'store_nbr', 'item_nbr'], inplace = True)
processed_train.reset_index(drop = True, inplace = True)

In [36]:
processed_train = processed_train[:2255853]

In [64]:
processed_train.loc[0]

date               2012-01-01 00:00:00
store_nbr                            1
item_nbr                             1
units                                0
log_units                            0
weekday                              6
weekend                           True
holiday                           True
weekday_holiday                  False
weekend_holiday                   True
station_nbr                          1
rain_flag                            1
snow_flag                          NaN
normal_flag                        NaN
event                                0
Name: 0, dtype: object

In [3]:
train['log_units'] = np.log(train['units'] + 1)
train.tail()

               date  store_nbr  item_nbr  units  log_units
4617595  2014-10-31         45       107      0        0.0
4617596  2014-10-31         45       108      0        0.0
4617597  2014-10-31         45       109      0        0.0
4617598  2014-10-31         45       110      0        0.0
4617599  2014-10-31         45       111      0        0.0

In [4]:
train_new = train[:2255853]
train_new.head()

         date  store_nbr  item_nbr  units  log_units
0  2012-01-01          1         1      0        0.0
1  2012-01-01          1         2      0        0.0
2  2012-01-01          1         3      0        0.0
3  2012-01-01          1         4      0        0.0
4  2012-01-01          1         5      0        0.0

In [60]:
tmp = train_new.pivot_table(values = 'log_units', index = 'date', columns = ['store_nbr', 'item_nbr'])
item_nbr_total = list(tmp.columns)

In [61]:
tmp = tmp.loc[:, (tmp != 0).any(axis = 0)]

In [62]:
tmp_ = tmp.reset_index()

In [63]:
tmp_.head()

store_nbr        date         1                                          \
item_nbr                      9        28   40        51   89   93   99
0          2012-01-01  3.401197  1.098612  0.0  0.693147  0.0  0.0  0.0
1          2012-01-02  4.110874  1.791759  0.0  0.693147  0.0  0.0  0.0
2          2012-01-03  2.772589  2.302585  0.0  0.000000  0.0  0.0  0.0
3          2012-01-04  3.044522  1.386294  0.0  0.000000  0.0  0.0  0.0
4          2012-01-05  2.833213  0.693147  0.0  0.000000  0.0  0.0  0.0

store_nbr         2              ...           44                           \
item_nbr          5        11    ...            5        62        68   93
0          5.257495  0.000000    ...     3.295837  0.000000  3.637586  0.0
1          4.997212  1.098612    ...     4.564348  0.000000  4.543295  0.0
2          4.653960  0.000000    ...     3.713572  0.000000  4.584967  0.0
3          4.077537  1.098612    ...     3.988984  0.693147  4.174387  0.0
4          4.934474  1.386294    ...     3.891820  1.386294  4.158883  0.0

store_nbr        45
item_nbr    94    4         9   26   34        50
0          0.0  0.0  2.079442  0.0  0.0  0.000000
1          0.0  0.0  3.951244  0.0  0.0  1.098612
2          0.0  0.0  2.944439  0.0  0.0  0.000000
3          0.0  0.0  3.401197  0.0  0.0  0.000000
4          0.0  0.0  3.828641  0.0  0.0  0.000000

[5 rows x 337 columns]

In [67]:
tmp_

store_nbr        date         1                                          \
item_nbr                      9        28        40        51        89
0          2012-01-01  3.401197  1.098612  0.000000  0.693147  0.000000
1          2012-01-02  4.110874  1.791759  0.000000  0.693147  0.000000
2          2012-01-03  2.772589  2.302585  0.000000  0.000000  0.000000
3          2012-01-04  3.044522  1.386294  0.000000  0.000000  0.000000
4          2012-01-05  2.833213  0.693147  0.000000  0.000000  0.000000
5          2012-01-06  2.564949  1.098612  0.000000  0.000000  0.000000
6          2012-01-07  1.098612  0.693147  0.000000  0.000000  0.000000
7          2012-01-08  3.135494  1.609438  0.000000  0.693147  0.000000
8          2012-01-09  3.931826  0.693147  0.000000  0.693147  0.000000
9          2012-01-10  3.258097  0.000000  0.000000  0.000000  0.000000
10         2012-01-11  3.295837  0.693147  1.609438  1.386294  0.000000
11         2012-01-12  3.496508  1.098612  0.000000  1.609438  0.000000
12         2012-01-13  3.401197  1.386294  0.693147  1.791759  0.000000
13         2012-01-14  3.891820  1.386294  0.000000  0.693147  0.000000
14         2012-01-15  3.713572  0.693147  0.693147  0.000000  1.098612
15         2012-01-16  3.465736  1.945910  0.000000  0.693147  0.000000
16         2012-01-17  3.713572  0.000000  0.000000  0.000000  0.000000
17         2012-01-18  3.091042  0.693147  0.000000  0.000000  0.000000
18         2012-01-19  3.583519  0.693147  0.693147  1.386294  0.000000
19         2012-01-20  3.663562  1.609438  1.098612  2.302585  0.000000
20         2012-01-21  3.295837  1.386294  0.693147  2.890372  0.000000
21         2012-01-22  3.970292  1.791759  1.098612  2.197225  0.000000
22         2012-01-23  1.098612  0.693147  1.098612  1.386294  0.000000
23         2012-01-24  2.484907  1.386294  0.000000  1.386294  0.000000
24         2012-01-25  2.484907  1.098612  0.693147  0.000000  0.000000
25         2012-01-26  3.465736  1.386294  0.000000  1.386294  0.000000
26         2012-01-27  3.526361  1.098612  0.000000  0.000000  0.000000
27         2012-01-28  4.753590  1.609438  0.693147  0.000000  0.000000
28         2012-01-29  5.225747  1.609438  0.693147  0.693147  0.000000
29         2012-01-30  4.304065  1.791759  0.000000  0.000000  0.000000
..                ...       ...       ...       ...       ...       ...
425        2013-03-02  4.406719  1.791759  0.000000  0.000000  0.000000
426        2013-03-03  3.663562  2.079442  0.000000  0.000000  1.386294
427        2013-03-04  3.218876  1.945910  0.000000  0.000000  0.000000
428        2013-03-05  3.178054  1.386294  0.000000  0.693147  0.000000
429        2013-03-06  2.833213  1.791759  0.000000  0.000000  0.000000
430        2013-03-07  3.871201  1.609438  0.000000  0.693147  0.693147
431        2013-03-08  3.828641  1.098612  0.000000  2.484907  0.000000
432        2013-03-09  3.688879  1.945910  0.000000  2.197225  0.000000
433        2013-03-10  4.234107  1.791759  0.000000  0.693147  0.000000
434        2013-03-11  2.995732  1.945910  0.000000  0.000000  0.000000
435        2013-03-12  2.397895  1.098612  0.000000  0.000000  0.000000
436        2013-03-13  3.258097  2.079442  0.000000  0.000000  0.000000
437        2013-03-14  3.367296  2.079442  0.000000  0.000000  0.000000
438        2013-03-15  3.713572  0.000000  0.000000  0.000000  0.000000
439        2013-03-16  3.555348  1.945910  0.000000  0.000000  0.000000
440        2013-03-17  3.713572  2.197225  0.000000  0.000000  0.000000
441        2013-03-18  3.178054  2.564949  0.000000  0.693147  0.000000
442        2013-03-19  3.784190  0.000000  0.000000  0.000000  0.000000
443        2013-03-20  2.995732  1.386294  0.000000  0.000000  0.000000
444        2013-03-21  3.555348  1.098612  0.000000  0.000000  0.000000
445        2013-03-22  1.945910  1.791759  0.000000  0.000000  0.000000
446        2013-03-23  3.295837  2.079442  0.000000  0.000000  0.000000
447        2013-03-24  4.644391  1.386294  0.000000  0.000000  0.000000
448        2013-03-25  3.044522  1.386294  0.000000  0.000000  0.000000
449        2013-03-26  3.401197  1.791759  0.000000  0.000000  0.000000
450        2013-03-27  2.564949  1.945910  0.000000  0.000000  0.000000
451        2013-03-28  1.609438  1.386294  0.000000  0.000000  0.000000
452        2013-03-29  2.890372  2.079442  0.000000  0.000000  0.000000
453        2013-03-30  3.135494  2.302585  0.000000  0.000000  0.000000
454        2013-03-31  3.610918  1.609438  0.000000  0.000000  0.000000

store_nbr                        2              ...           44            \
item_nbr         93   99         5        11    ...            5        62
0          0.000000  0.0  5.257495  0.000000    ...     3.295837  0.000000
1          0.000000  0.0  4.997212  1.098612    ...     4.564348  0.000000
2          0.000000  0.0  4.653960  0.000000    ...     3.713572  0.000000
3          0.000000  0.0  4.077537  1.098612    ...     3.988984  0.693147
4          0.000000  0.0  4.934474  1.386294    ...     3.891820  1.386294
5          0.000000  0.0  4.983607  1.098612    ...     4.564348  0.000000
6          0.000000  0.0  4.276666  0.000000    ...     3.465736  1.791759
7          0.000000  0.0  5.062595  1.609438    ...     4.025352  1.791759
8          0.000000  0.0  3.988984  0.000000    ...     4.234107  1.098612
9          0.000000  0.0  5.590987  0.000000    ...     3.871201  1.098612
10         0.000000  0.0  4.521789  1.098612    ...     3.178054  0.000000
11         1.386294  0.0  4.343805  0.000000    ...     2.833213  0.000000
12         0.000000  0.0  4.499810  0.000000    ...     3.713572  1.098612
13         0.000000  0.0  4.330733  1.386294    ...     4.189655  0.693147
14         0.000000  0.0  5.129899  1.098612    ...     3.912023  0.000000
15         0.000000  0.0  3.637586  0.000000    ...     4.077537  1.098612
16         0.000000  0.0  4.025352  0.000000    ...     3.951244  0.000000
17         0.000000  0.0  4.510860  0.000000    ...     3.828641  0.000000
18         0.000000  0.0  3.663562  1.386294    ...     3.761200  1.791759
19         0.000000  0.0  3.663562  0.000000    ...     3.332205  0.000000
20         0.000000  0.0  4.510860  1.945910    ...     3.737670  0.000000
21         1.609438  0.0  4.499810  1.098612    ...     3.555348  0.693147
22         0.000000  0.0  3.737670  0.000000    ...     3.663562  0.000000
23         0.000000  0.0  4.158883  1.386294    ...     4.077537  0.000000
24         0.000000  0.0  3.951244  1.609438    ...     2.564949  0.000000
25         0.000000  0.0  3.332205  0.693147    ...     2.833213  0.000000
26         0.000000  0.0  3.737670  0.000000    ...     3.663562  0.000000
27         0.000000  0.0  3.637586  0.693147    ...     3.688879  0.000000
28         1.609438  0.0  4.605170  1.098612    ...     3.367296  0.000000
29         0.000000  0.0  3.688879  0.000000    ...     3.526361  0.000000
..              ...  ...       ...       ...    ...          ...       ...
425        0.000000  0.0  3.912023  1.098612    ...     2.995732  0.693147
426        0.000000  0.0  4.477337  0.000000    ...     4.290459  0.000000
427        0.000000  0.0  3.526361  1.098612    ...     3.218876  0.000000
428        0.000000  0.0  4.875197  0.000000    ...     3.465736  0.000000
429        0.000000  0.0  4.290459  0.000000    ...     3.465736  1.098612
430        0.000000  0.0  4.394449  0.000000    ...     4.060443  0.000000
431        0.000000  0.0  3.465736  0.000000    ...     4.158883  0.693147
432        0.000000  0.0  3.784190  0.000000    ...     3.401197  1.609438
433        0.000000  0.0  4.948760  0.693147    ...     4.143135  0.000000
434        0.000000  0.0  4.465908  0.000000    ...     3.737670  0.693147
435        0.000000  0.0  3.583519  0.000000    ...     3.850148  0.000000
436        0.000000  0.0  3.433987  0.000000    ...     2.079442  1.098612
437        0.000000  0.0  2.833213  0.000000    ...     3.135494  0.000000
438        0.000000  0.0  3.496508  0.000000    ...     3.891820  0.000000
439        0.000000  0.0  4.369448  0.000000    ...     3.526361  0.693147
440        0.000000  0.0  3.891820  0.000000    ...     3.761200  0.000000
441        0.000000  0.0  4.234107  0.000000    ...     3.178054  0.000000
442        0.000000  0.0  4.158883  0.000000    ...     4.094345  0.000000
443        0.000000  0.0  4.317488  0.000000    ...     2.833213  0.000000
444        0.000000  0.0  3.091042  0.000000    ...     3.178054  0.000000
445        0.000000  0.0  3.610918  0.000000    ...     3.295837  0.000000
446        0.000000  0.0  4.682131  0.000000    ...     3.526361  0.000000
447        0.000000  0.0  4.189655  1.386294    ...     4.007333  0.693147
448        0.000000  0.0  4.110874  1.386294    ...     3.583519  0.000000
449        0.000000  0.0  3.737670  0.000000    ...     2.639057  0.693147
450        0.000000  0.0  3.970292  0.000000    ...     2.564949  0.693147
451        0.000000  0.0  3.401197  0.000000    ...     3.091042  1.386294
452        0.000000  0.0  4.234107  1.098612    ...     3.135494  1.098612
453        0.000000  0.0  3.526361  1.386294    ...     3.713572  0.693147
454        0.000000  0.0  3.970292  0.000000    ...     3.465736  1.386294

store_nbr                                      45                      \
item_nbr         68        93        94         4         9        26
0          3.637586  0.000000  0.000000  0.000000  2.079442  0.000000
1          4.543295  0.000000  0.000000  0.000000  3.951244  0.000000
2          4.584967  0.000000  0.000000  0.000000  2.944439  0.000000
3          4.174387  0.000000  0.000000  0.000000  3.401197  0.000000
4          4.158883  0.000000  0.000000  0.000000  3.828641  0.000000
5          3.713572  0.000000  0.000000  0.000000  3.496508  0.000000
6          4.025352  0.000000  0.000000  0.000000  2.995732  0.000000
7          4.174387  0.000000  0.000000  0.000000  2.197225  0.000000
8          3.761200  0.000000  0.000000  0.000000  3.044522  0.000000
9          4.127134  0.000000  0.000000  0.000000  0.000000  0.000000
10         3.610918  0.000000  0.000000  0.000000  2.397895  0.000000
11         4.025352  0.000000  0.000000  0.000000  2.833213  0.000000
12         4.204693  0.000000  0.000000  0.000000  2.079442  0.000000
13         4.682131  0.000000  0.000000  0.000000  2.564949  0.000000
14         4.465908  0.000000  0.000000  0.000000  2.484907  0.000000
15         3.912023  0.000000  0.000000  0.000000  3.091042  0.000000
16         4.276666  0.000000  0.000000  0.000000  1.098612  0.000000
17         4.248495  0.000000  0.000000  0.000000  3.295837  0.000000
18         3.850148  0.000000  0.000000  0.000000  2.708050  0.000000
19         4.382027  0.000000  0.000000  0.000000  3.688879  0.000000
20         4.234107  1.386294  0.000000  0.000000  2.397895  0.000000
21         4.595120  1.791759  0.000000  0.000000  2.484907  0.000000
22         4.248495  0.000000  0.000000  0.000000  3.091042  0.000000
23         4.584967  1.609438  0.000000  0.000000  4.219508  0.000000
24         3.988984  0.000000  0.000000  0.000000  1.609438  0.000000
25         4.174387  0.000000  0.000000  0.000000  2.708050  0.000000
26         4.644391  0.000000  0.000000  0.000000  1.609438  0.000000
27         4.477337  0.000000  0.000000  0.000000  2.397895  0.000000
28         4.143135  0.000000  0.000000  0.000000  3.784190  0.000000
29         4.219508  0.000000  1.098612  0.000000  3.135494  0.000000
..              ...       ...       ...       ...       ...       ...
425        4.077537  0.000000  1.098612  0.000000  2.639057  1.609438
426        4.691348  0.000000  0.693147  0.000000  3.091042  2.564949
427        4.317488  0.000000  0.693147  0.000000  2.484907  1.386294
428        3.135494  0.000000  0.000000  0.000000  2.302585  1.386294
429        3.713572  0.000000  1.386294  0.000000  2.197225  1.386294
430        3.610918  0.000000  0.693147  0.000000  3.135494  1.098612
431        3.496508  0.000000  0.000000  0.693147  1.791759  0.693147
432        4.143135  0.000000  0.000000  1.098612  2.302585  2.302585
433        4.234107  0.000000  1.945910  0.000000  2.995732  1.945910
434        3.583519  0.000000  0.000000  0.000000  2.564949  1.945910
435        3.367296  0.000000  1.098612  1.386294  3.637586  0.693147
436        3.637586  0.000000  1.098612  0.000000  3.218876  1.791759
437        3.178054  0.000000  0.693147  0.000000  3.135494  0.693147
438        3.583519  0.000000  0.000000  0.000000  2.772589  0.000000
439        3.850148  0.000000  0.693147  1.098612  2.708050  0.000000
440        3.806662  0.000000  1.098612  0.000000  3.367296  1.791759
441        3.135494  0.000000  1.098612  0.693147  3.218876  1.791759
442        3.332205  0.000000  1.098612  0.000000  2.079442  1.098612
443        4.043051  0.000000  0.000000  0.000000  2.079442  1.609438
444        3.688879  0.000000  0.693147  0.693147  2.890372  1.945910
445        2.890372  0.000000  0.000000  0.000000  2.708050  1.098612
446        3.828641  0.000000  1.386294  0.000000  2.639057  1.609438
447        4.025352  0.000000  1.098612  0.000000  2.772589  0.693147
448        3.610918  0.000000  1.098612  1.098612  2.995732  1.386294
449        3.401197  0.000000  0.000000  0.000000  2.197225  1.609438
450        3.663562  0.000000  0.000000  0.000000  2.995732  0.000000
451        3.555348  0.000000  0.000000  0.000000  2.639057  1.386294
452        4.025352  0.000000  0.693147  0.693147  1.098612  0.693147
453        4.043051  0.000000  0.693147  1.386294  2.197225  2.079442
454        3.891820  0.000000  1.098612  0.000000  3.610918  1.386294

store_nbr
item_nbr         34        50
0          0.000000  0.000000
1          0.000000  1.098612
2          0.000000  0.000000
3          0.000000  0.000000
4          0.000000  0.000000
5          0.000000  0.000000
6          0.000000  0.000000
7          0.000000  0.693147
8          0.000000  0.000000
9          0.000000  0.000000
10         0.000000  0.000000
11         0.000000  0.000000
12         0.000000  0.000000
13         0.000000  0.000000
14         0.000000  0.000000
15         0.693147  0.000000
16         0.000000  0.000000
17         0.693147  0.000000
18         0.693147  0.000000
19         0.693147  0.000000
20         0.000000  0.000000
21         0.000000  0.000000
22         0.000000  0.000000
23         0.000000  0.000000
24         0.000000  0.000000
25         0.000000  0.000000
26         0.000000  0.000000
27         0.000000  0.000000
28         0.000000  0.000000
29         0.000000  0.000000
..              ...       ...
425        0.000000  0.000000
426        0.000000  0.000000
427        0.000000  0.000000
428        0.000000  0.000000
429        0.000000  0.000000
430        0.000000  0.000000
431        0.000000  0.000000
432        0.000000  0.000000
433        0.000000  0.000000
434        0.000000  0.000000
435        0.000000  0.000000
436        0.000000  0.000000
437        0.000000  0.000000
438        0.000000  0.000000
439        0.000000  0.000000
440        0.000000  0.000000
441        0.000000  0.000000
442        0.000000  0.000000
443        0.000000  0.000000
444        0.000000  0.000000
445        0.000000  0.000000
446        0.000000  0.000000
447        0.000000  0.000000
448        0.000000  0.000000
449        0.000000  0.000000
450        0.000000  0.000000
451        0.000000  0.000000
452        0.000000  0.000000
453        0.000000  0.000000
454        0.000000  0.000000

[455 rows x 337 columns]

In [8]:
item_nbr_nonzero = list(tmp.columns)

In [9]:
item_nbr_zero = []

for num in item_nbr_total :
    if num not in item_nbr_nonzero :
        item_nbr_zero.append(num)

In [22]:
for num in item_nbr_zero :
#     train_new_ = train_new[train_new.item_nbr != num[1]]

SyntaxError: unexpected EOF while parsing (<ipython-input-22-c91971e486e0>, line 2)

In [ ]:
train_new_.reset_index(drop = True, inplace = True)

In [ ]:
train_test = preprocessing(train_new_, holiday)

In [ ]:
train_test
train_test_ = train_test.drop(['weekend', 'weekday_holiday', 'weekend_holiday', 'station_nbr',
                               'rain_flag', 'snow_flag', 'normal_flag', 'units', 'date'], axis = 1)

In [ ]:
train_test_.head()

In [ ]:
train_test_['store_nbr'] = train_test_['store_nbr'].astype('category')
train_test_['item_nbr'] = train_test_['item_nbr'].astype('category')
train_test_['weekday'] = train_test_['weekday'].astype('category')
train_test_['holiday'] = train_test_['holiday'].astype('category')
train_test_['event'] = train_test_['event'].astype('category')

In [ ]:
model1 = sm.OLS.from_formula("log_units ~ store_nbr + item_nbr + weekday + holiday + event", data = train_test_)

In [ ]:
result1 = model1.fit()
print(result1.summary())

In [ ]:
model2 = sm.OLS.from_formula("log_units ~ store_nbr + item_nbr + weekday + holiday + event + 0", data = train_test_)

In [ ]:
result2 = model2.fit()
print(result2.summary())

In [ ]:
model3 = sm.OLS.from_formula("log_units ~ C(store_nbr) + C(item_nbr) + C(weekday) + C(holiday) + C(event)", data = train_test_)

In [ ]:
result3 = model3.fit()
print(result3.summary())

In [ ]:
model4 = sm.OLS.from_formula("log_units ~ C(store_nbr) + C(item_nbr) + C(weekday) + C(holiday) + C(event) + 0 + 0 + 0 + 0 + 0", data = train_test_)

In [ ]:
result4 = model4.fit()
print(result4.summary())

In [ ]:
model5 = sm.OLS.from_formula("log_units ~ C(item_nbr) + 0", data = train_test_)
result5 = model5.fit()
print(result5.summary())

In [83]:
tmp2 = train_new.pivot_table(values = 'log_units', index = ['date', 'store_nbr', 'item_nbr'])
tmp2_ = tmp2[tmp2['log_units'] != 0]

In [86]:
tmp2_ = tmp2_.reset_index()

In [90]:
tmp2_ = preprocessing(tmp2_, holiday)

In [92]:
tmp2_test = tmp2_.drop(['weekend', 'weekday_holiday', 'weekend_holiday', 'station_nbr',
                               'rain_flag', 'snow_flag', 'normal_flag', 'date'], axis = 1)

In [93]:
tmp2_test['store_nbr'] = tmp2_test['store_nbr'].astype('category')
tmp2_test['item_nbr'] = tmp2_test['item_nbr'].astype('category')
tmp2_test['weekday'] = tmp2_test['weekday'].astype('category')
tmp2_test['holiday'] = tmp2_test['holiday'].astype('category')
tmp2_test['event'] = tmp2_test['event'].astype('category')

In [94]:
tmp2_test.head()

  store_nbr item_nbr  log_units weekday holiday event
0         1        9   3.401197       6    True     0
1         1       28   1.098612       6    True     0
2         1       51   0.693147       6    True     0
3         1        9   4.110874       0   False     0
4         1       28   1.791759       0   False     0

In [98]:
model = sm.OLS.from_formula("log_units ~ C(store_nbr) + C(item_nbr) + C(weekday) + C(holiday) + C(event) + 0", data = tmp2_test)

In [99]:
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              log_units   R-squared:                       0.873
Model:                            OLS   Adj. R-squared:                  0.873
Method:                 Least Squares   F-statistic:                     2811.
Date:                Thu, 01 Mar 2018   Prob (F-statistic):               0.00
Time:                        10:57:19   Log-Likelihood:                -45405.
No. Observations:               61318   AIC:                         9.111e+04
Df Residuals:                   61167   BIC:                         9.247e+04
Df Model:                         150
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(store_nbr)[1]        1.2951      0.052     25.100      0.000       1.194       1.396
C(store_nbr)[2]        1.6850      0.050     33.595      0.000       1.587       1.783
C(store_nbr)[3]        1.6617      0.051     32.733      0.000       1.562       1.761
C(store_nbr)[4]        2.1965      0.053     41.722      0.000       2.093       2.300
C(store_nbr)[5]        1.3441      0.051     26.209      0.000       1.244       1.445
C(store_nbr)[6]        1.5126      0.051     29.638      0.000       1.413       1.613
C(store_nbr)[7]        1.8559      0.052     35.797      0.000       1.754       1.958
C(store_nbr)[8]        1.2062      0.052     23.404      0.000       1.105       1.307
C(store_nbr)[9]        1.5690      0.051     30.813      0.000       1.469       1.669
C(store_nbr)[10]       1.5976      0.051     31.625      0.000       1.499       1.697
C(store_nbr)[11]       1.4383      0.051     28.296      0.000       1.339       1.538
C(store_nbr)[12]       1.6695      0.051     32.704      0.000       1.569       1.770
C(store_nbr)[13]       1.7720      0.052     34.272      0.000       1.671       1.873
C(store_nbr)[14]       0.5366      0.051     10.497      0.000       0.436       0.637
C(store_nbr)[15]       1.7750      0.050     35.257      0.000       1.676       1.874
C(store_nbr)[16]       1.9859      0.052     38.431      0.000       1.885       2.087
C(store_nbr)[17]       2.7543      0.051     53.697      0.000       2.654       2.855
C(store_nbr)[18]       0.7952      0.052     15.395      0.000       0.694       0.896
C(store_nbr)[19]       1.2299      0.052     23.445      0.000       1.127       1.333
C(store_nbr)[20]       1.8162      0.052     34.920      0.000       1.714       1.918
C(store_nbr)[21]       1.2702      0.051     25.072      0.000       1.171       1.369
C(store_nbr)[22]       1.6742      0.051     33.088      0.000       1.575       1.773
C(store_nbr)[23]       1.0220      0.051     19.955      0.000       0.922       1.122
C(store_nbr)[24]       2.4633      0.103     23.934      0.000       2.262       2.665
C(store_nbr)[25]       1.9222      0.050     38.087      0.000       1.823       2.021
C(store_nbr)[26]       1.4456      0.051     28.251      0.000       1.345       1.546
C(store_nbr)[27]       1.4708      0.050     29.216      0.000       1.372       1.569
C(store_nbr)[28]       1.2535      0.051     24.483      0.000       1.153       1.354
C(store_nbr)[29]       1.5093      0.052     28.858      0.000       1.407       1.612
C(store_nbr)[30]       2.0415      0.051     40.328      0.000       1.942       2.141
C(store_nbr)[31]       1.6210      0.050     32.110      0.000       1.522       1.720
C(store_nbr)[32]       1.3844      0.050     27.552      0.000       1.286       1.483
C(store_nbr)[33]       2.1633      0.050     43.276      0.000       2.065       2.261
C(store_nbr)[34]       1.7391      0.050     34.526      0.000       1.640       1.838
C(store_nbr)[35]       1.3785      0.054     25.364      0.000       1.272       1.485
C(store_nbr)[36]       1.2685      0.044     28.606      0.000       1.182       1.355
C(store_nbr)[37]       1.3423      0.051     26.205      0.000       1.242       1.443
C(store_nbr)[38]       1.8250      0.050     36.316      0.000       1.727       1.924
C(store_nbr)[39]      -0.4535      0.053     -8.586      0.000      -0.557      -0.350
C(store_nbr)[40]       1.4673      0.051     28.946      0.000       1.368       1.567
C(store_nbr)[41]       1.5836      0.051     31.257      0.000       1.484       1.683
C(store_nbr)[42]       1.4395      0.051     27.993      0.000       1.339       1.540
C(store_nbr)[43]       1.6948      0.052     32.847      0.000       1.594       1.796
C(store_nbr)[44]       1.4361      0.051     28.181      0.000       1.336       1.536
C(store_nbr)[45]       0.4646      0.053      8.696      0.000       0.360       0.569
C(item_nbr)[T.2]      -0.0248      0.055     -0.447      0.655      -0.133       0.084
C(item_nbr)[T.3]      -0.4347      0.067     -6.503      0.000      -0.566      -0.304
C(item_nbr)[T.4]       0.5899      0.077      7.630      0.000       0.438       0.741
C(item_nbr)[T.5]       2.4204      0.049     49.880      0.000       2.325       2.516
C(item_nbr)[T.6]       1.2277      0.106     11.633      0.000       1.021       1.435
C(item_nbr)[T.7]      -0.7289      0.063    -11.553      0.000      -0.853      -0.605
C(item_nbr)[T.8]       1.9729      0.057     34.439      0.000       1.861       2.085
C(item_nbr)[T.9]       2.3017      0.048     48.122      0.000       2.208       2.395
C(item_nbr)[T.10]     -0.4295      0.063     -6.803      0.000      -0.553      -0.306
C(item_nbr)[T.11]     -0.6027      0.063     -9.630      0.000      -0.725      -0.480
C(item_nbr)[T.12]     -1.0091      0.064    -15.841      0.000      -1.134      -0.884
C(item_nbr)[T.13]     -0.7555      0.066    -11.362      0.000      -0.886      -0.625
C(item_nbr)[T.14]     -0.5198      0.071     -7.290      0.000      -0.660      -0.380
C(item_nbr)[T.15]      0.3846      0.056      6.868      0.000       0.275       0.494
C(item_nbr)[T.16]      1.9004      0.049     38.452      0.000       1.804       1.997
C(item_nbr)[T.17]     -0.8220      0.061    -13.380      0.000      -0.942      -0.702
C(item_nbr)[T.18]     -0.9074      0.061    -14.771      0.000      -1.028      -0.787
C(item_nbr)[T.19]     -0.5593      0.062     -9.078      0.000      -0.680      -0.439
C(item_nbr)[T.20]     -0.3888      0.059     -6.638      0.000      -0.504      -0.274
C(item_nbr)[T.21]     -0.4909      0.053     -9.210      0.000      -0.595      -0.386
C(item_nbr)[T.23]      1.2436      0.053     23.447      0.000       1.140       1.348
C(item_nbr)[T.24]      0.4054      0.069      5.852      0.000       0.270       0.541
C(item_nbr)[T.25]      2.6392      0.053     50.010      0.000       2.536       2.743
C(item_nbr)[T.26]      1.2631      0.059     21.437      0.000       1.148       1.379
C(item_nbr)[T.27]     -0.0410      0.058     -0.712      0.477      -0.154       0.072
C(item_nbr)[T.28]      0.3740      0.057      6.579      0.000       0.263       0.485
C(item_nbr)[T.29]     -0.1053      0.060     -1.764      0.078      -0.222       0.012
C(item_nbr)[T.30]     -0.2475      0.053     -4.687      0.000      -0.351      -0.144
C(item_nbr)[T.31]     -0.7374      0.063    -11.702      0.000      -0.861      -0.614
C(item_nbr)[T.32]     -0.3048      0.064     -4.747      0.000      -0.431      -0.179
C(item_nbr)[T.33]      0.3695      0.063      5.881      0.000       0.246       0.493
C(item_nbr)[T.34]      0.3438      0.117      2.950      0.003       0.115       0.572
C(item_nbr)[T.35]     -0.1809      0.060     -2.990      0.003      -0.299      -0.062
C(item_nbr)[T.36]      2.8706      0.053     53.845      0.000       2.766       2.975
C(item_nbr)[T.37]      1.2655      0.050     25.430      0.000       1.168       1.363
C(item_nbr)[T.39]     -0.3252      0.068     -4.756      0.000      -0.459      -0.191
C(item_nbr)[T.40]     -0.3011      0.081     -3.738      0.000      -0.459      -0.143
C(item_nbr)[T.41]      1.6643      0.053     31.202      0.000       1.560       1.769
C(item_nbr)[T.42]      0.6423      0.057     11.346      0.000       0.531       0.753
C(item_nbr)[T.43]      1.3775      0.106     13.053      0.000       1.171       1.584
C(item_nbr)[T.44]      3.1724      0.048     66.321      0.000       3.079       3.266
C(item_nbr)[T.45]      2.7276      0.049     56.133      0.000       2.632       2.823
C(item_nbr)[T.46]     -0.5202      0.060     -8.661      0.000      -0.638      -0.402
C(item_nbr)[T.48]      2.3205      0.056     41.197      0.000       2.210       2.431
C(item_nbr)[T.49]     -0.5992      0.067     -8.981      0.000      -0.730      -0.468
C(item_nbr)[T.50]      0.0154      0.058      0.266      0.790      -0.098       0.129
C(item_nbr)[T.51]     -0.1949      0.055     -3.531      0.000      -0.303      -0.087
C(item_nbr)[T.52]     -0.7167      0.053    -13.490      0.000      -0.821      -0.613
C(item_nbr)[T.53]     -0.3846      0.064     -5.994      0.000      -0.510      -0.259
C(item_nbr)[T.54]     -0.7504      0.065    -11.534      0.000      -0.878      -0.623
C(item_nbr)[T.55]     -0.2611      0.062     -4.191      0.000      -0.383      -0.139
C(item_nbr)[T.56]      0.0246      0.057      0.432      0.666      -0.087       0.136
C(item_nbr)[T.57]      0.2014      0.075      2.689      0.007       0.055       0.348
C(item_nbr)[T.58]     -0.0673      0.060     -1.114      0.265      -0.186       0.051
C(item_nbr)[T.59]     -0.2794      0.059     -4.699      0.000      -0.396      -0.163
C(item_nbr)[T.60]     -1.5378      0.108    -14.219      0.000      -1.750      -1.326
C(item_nbr)[T.61]     -0.4711      0.054     -8.796      0.000      -0.576      -0.366
C(item_nbr)[T.62]     -0.4252      0.065     -6.566      0.000      -0.552      -0.298
C(item_nbr)[T.63]     -0.0263      0.082     -0.322      0.747      -0.186       0.134
C(item_nbr)[T.65]     -1.1942      0.063    -19.080      0.000      -1.317      -1.072
C(item_nbr)[T.66]      1.3778      0.062     22.383      0.000       1.257       1.498
C(item_nbr)[T.67]      0.7875      0.059     13.398      0.000       0.672       0.903
C(item_nbr)[T.68]      2.3601      0.050     47.451      0.000       2.263       2.458
C(item_nbr)[T.69]     -0.1890      0.059     -3.177      0.001      -0.306      -0.072
C(item_nbr)[T.70]      0.6177      0.069      8.920      0.000       0.482       0.753
C(item_nbr)[T.71]     -1.7848      0.064    -27.854      0.000      -1.910      -1.659
C(item_nbr)[T.72]      0.0462      0.062      0.743      0.458      -0.076       0.168
C(item_nbr)[T.73]     -0.8082      0.067    -12.020      0.000      -0.940      -0.676
C(item_nbr)[T.74]     -0.4948      0.064     -7.759      0.000      -0.620      -0.370
C(item_nbr)[T.75]     -0.1639      0.069     -2.368      0.018      -0.300      -0.028
C(item_nbr)[T.76]     -1.5092      0.115    -13.161      0.000      -1.734      -1.284
C(item_nbr)[T.77]     -0.5629      0.070     -8.002      0.000      -0.701      -0.425
C(item_nbr)[T.78]     -0.1845      0.065     -2.820      0.005      -0.313      -0.056
C(item_nbr)[T.79]     -0.4465      0.065     -6.879      0.000      -0.574      -0.319
C(item_nbr)[T.80]     -0.5518      0.064     -8.584      0.000      -0.678      -0.426
C(item_nbr)[T.81]      0.6358      0.057     11.209      0.000       0.525       0.747
C(item_nbr)[T.82]     -0.5152      0.061     -8.395      0.000      -0.635      -0.395
C(item_nbr)[T.83]      1.1205      0.057     19.520      0.000       1.008       1.233
C(item_nbr)[T.84]     -0.6679      0.066    -10.193      0.000      -0.796      -0.539
C(item_nbr)[T.85]     -1.0427      0.063    -16.666      0.000      -1.165      -0.920
C(item_nbr)[T.86]     -0.6019      0.054    -11.077      0.000      -0.708      -0.495
C(item_nbr)[T.87]     -0.2696      0.062     -4.336      0.000      -0.392      -0.148
C(item_nbr)[T.88]     -0.0188      0.068     -0.275      0.783      -0.153       0.115
C(item_nbr)[T.89]     -0.2626      0.082     -3.200      0.001      -0.423      -0.102
C(item_nbr)[T.90]     -1.1883      0.061    -19.549      0.000      -1.307      -1.069
C(item_nbr)[T.91]     -0.2554      0.064     -4.008      0.000      -0.380      -0.130
C(item_nbr)[T.92]     -0.9187      0.064    -14.389      0.000      -1.044      -0.794
C(item_nbr)[T.93]      0.0643      0.049      1.326      0.185      -0.031       0.159
C(item_nbr)[T.94]     -0.4153      0.060     -6.975      0.000      -0.532      -0.299
C(item_nbr)[T.96]     -0.8164      0.100     -8.199      0.000      -1.012      -0.621
C(item_nbr)[T.97]     -0.7862      0.082     -9.592      0.000      -0.947      -0.626
C(item_nbr)[T.98]     -0.6967      0.059    -11.754      0.000      -0.813      -0.580
C(item_nbr)[T.99]     -0.3272      0.145     -2.254      0.024      -0.612      -0.043
C(item_nbr)[T.100]    -0.0767      0.076     -1.012      0.311      -0.225       0.072
C(item_nbr)[T.101]    -1.0716      0.081    -13.249      0.000      -1.230      -0.913
C(item_nbr)[T.102]    -0.9145      0.363     -2.521      0.012      -1.626      -0.203
C(item_nbr)[T.103]     1.4622      0.107     13.713      0.000       1.253       1.671
C(weekday)[T.1]       -0.1026      0.008    -13.096      0.000      -0.118      -0.087
C(weekday)[T.2]       -0.1451      0.008    -18.602      0.000      -0.160      -0.130
C(weekday)[T.3]       -0.1526      0.008    -19.615      0.000      -0.168      -0.137
C(weekday)[T.4]       -0.0541      0.008     -6.981      0.000      -0.069      -0.039
C(weekday)[T.5]        0.0941      0.008     12.203      0.000       0.079       0.109
C(weekday)[T.6]        0.1551      0.008     20.259      0.000       0.140       0.170
C(holiday)[T.True]    -0.1270      0.010    -12.267      0.000      -0.147      -0.107
C(event)[T.1]          0.0399      0.014      2.881      0.004       0.013       0.067
C(event)[T.2]         -0.1596      0.161     -0.990      0.322      -0.476       0.156
==============================================================================
Omnibus:                     4268.906   Durbin-Watson:                   1.939
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            22324.987
Skew:                          -0.032   Prob(JB):                         0.00
Kurtosis:                       5.955   Cond. No.                         137.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.