In [ ]:
%whos

In [1]:
key = pd.read_csv('../data/key.csv')
train = pd.read_csv('../data/train.csv')
weather = pd.read_csv('../data/weather.csv')
test = pd.read_csv('../data/test.csv')

In [7]:
train['log_units'] = np.log(train['units'] + 1)
train.tail()

               date  store_nbr  item_nbr  units  log_units
4617595  2014-10-31         45       107      0        0.0
4617596  2014-10-31         45       108      0        0.0
4617597  2014-10-31         45       109      0        0.0
4617598  2014-10-31         45       110      0        0.0
4617599  2014-10-31         45       111      0        0.0

In [8]:
train_new = train[:2255853] # 2013년 3월 31일까지의 train data

In [9]:
weather_train = weather[:8968] # 2013년 3월 31일까지의 weather data

### weather 관련 functions

In [10]:
def get_weather_train(df, station_nbr) : # staion_nbr에 따라서 weather train dataframe을 만드는 함수
    new_df = df[df['station_nbr'] == station_nbr]
    new_df.reset_index(drop = True, inplace = True)
    return new_df

In [11]:
def set_tmax(df) : # tmax의 missing value를 처리하는 함수
    for num in range(len(df)) :  # tmax의 missing value 처리,,, 이틀 전날의 0.2배 + 하루 전날의 0.8배
        if df.at[num, 'tmax'] == 'M' :
            df.set_value(num, 'tmax', int(0.2 * int(df.at[num - 2, 'tmax']) + 0.8 * int(df.at[num - 1, 'tmax'])))
        
        else :
            df.at[num, 'tmax'] = int(df.at[num, 'tmax'])

In [12]:
def set_tmin(df) : # tmin의 missing value를 처리하는 함수
    for num in range(len(df)) :  # tmax의 missing value 처리,,, 이틀 전날의 0.2배 + 하루 전날의 0.8배
        if df.at[num, 'tmin'] == 'M' :
            df.set_value(num, 'tmin', int(0.2 * int(df.at[num - 2, 'tmin']) + 0.8 * int(df.at[num - 1, 'tmin'])))
            
        else :
            df.at[num,'tmin'] = int(df.at[num, 'tmin'])

In [13]:
def set_tavg(df) : # tavg의 값을 처리하는 함수
    for num in range(len(df)) :
        if df.at[num, 'tavg'] == 'M' :
            df.set_value(num, 'tavg', int((df.at[num, 'tmax'] + df.at[num, 'tmin']) / 2))
            
        else :
            df.at[num, 'tavg'] = int(df.at[num, 'tavg'])

In [ ]:
def set_depart(df) : # how can I get depart value..wtf

In [ ]:
def set_dewpoint(df) :

In [ ]:
def set_wetbulb(df) :

In [14]:
def set_heat_cool(df) : # heat, cool의 missing value 처리
    for num in range(len(df)) :
        if df.at[num, 'heat'] == 'M' or df.at[num, 'cool'] == 'M' :
            
            if df.at[num, 'tavg'] == 65 : # tavg == 65 이면 heat, cool 모두 0
                df.set_value(num, 'heat', 0)
                df.set_value(num, 'cool', 0)
            
            elif df.at[num, 'tavg'] > 65 : #tavg > 65 이면 heat = 0, cool = tavg - 65
                df.set_value(num, 'heat', 0)
                df.set_value(num, 'cool', df.at[num, 'tavg'] - 65)
            
            else : #tavg < 65 이면 heat = 65 - tavg, cool = 0
                df.set_value(num, 'heat', 65 - df.at[num, 'tavg'])
                df.set_value(num, 'cool', 0)

In [ ]:
def set_snowfall_preciptotal(df) :

In [ ]:
def set_stnpressure(df) :

In [ ]:
def set_sealevel(df) :

In [ ]:
def set_resultspeed(df) : # 바람관련 column 3개는 어떤 연관관계가 있지않을까..

In [ ]:
def set_resultdir(df) :

In [ ]:
def set_avgspeed(df) :

### train 관련 functions

In [15]:
def get_train_train(df, store_nbr) : # store_nbr에 따라 train data를 나눠주는 함수
    new_df = df[df['store_nbr'] == store_nbr]
    new_df.reset_index(drop = True, inplace = True)
    return new_df

In [16]:
#station_nbr로 weather_train을 나눠줌
# 박두진 강사님이 이 부분을 줄일 수 있는 방법을 찾아봐주신다 하였음..일단은 그냥 쓰자!

weather_train_1 = get_weather_train(weather_train, 1)
weather_train_2 = get_weather_train(weather_train, 2)
weather_train_3 = get_weather_train(weather_train, 3)
weather_train_4 = get_weather_train(weather_train, 4)
weather_train_5 = get_weather_train(weather_train, 5) # missing value가 많아서 일단은..
weather_train_6 = get_weather_train(weather_train, 6)
weather_train_7 = get_weather_train(weather_train, 7)
weather_train_8 = get_weather_train(weather_train, 8)
weather_train_9 = get_weather_train(weather_train, 9)
weather_train_10 = get_weather_train(weather_train, 10)
weather_train_11 = get_weather_train(weather_train, 11)
weather_train_12 = get_weather_train(weather_train, 12)
weather_train_13 = get_weather_train(weather_train, 13)
weather_train_14 = get_weather_train(weather_train, 14)
weather_train_15 = get_weather_train(weather_train, 15)
weather_train_16 = get_weather_train(weather_train, 16)
weather_train_17 = get_weather_train(weather_train, 17)
weather_train_18 = get_weather_train(weather_train, 18)
weather_train_19 = get_weather_train(weather_train, 19)
weather_train_20 = get_weather_train(weather_train, 20)

In [25]:
train_new_1 = get_train_train(train_new, 1)
train_new_2 = get_train_train(train_new, 2)
train_new_3 = get_train_train(train_new, 3)
train_new_4 = get_train_train(train_new, 4)
train_new_5 = get_train_train(train_new, 5)
train_new_6 = get_train_train(train_new, 6)
train_new_7 = get_train_train(train_new, 7)
train_new_8 = get_train_train(train_new, 8)
train_new_9 = get_train_train(train_new, 9)
train_new_10 = get_train_train(train_new, 10)
train_new_11 = get_train_train(train_new, 11)
train_new_12 = get_train_train(train_new, 12)
train_new_13 = get_train_train(train_new, 13)
train_new_14 = get_train_train(train_new, 14)
train_new_15 = get_train_train(train_new, 15)
train_new_16 = get_train_train(train_new, 16)
train_new_17 = get_train_train(train_new, 17)
train_new_18 = get_train_train(train_new, 18)
train_new_19 = get_train_train(train_new, 19)
train_new_20 = get_train_train(train_new, 20)
train_new_21 = get_train_train(train_new, 21)
train_new_22 = get_train_train(train_new, 22)
train_new_23 = get_train_train(train_new, 23)
train_new_24 = get_train_train(train_new, 24)
train_new_25 = get_train_train(train_new, 25)
train_new_26 = get_train_train(train_new, 26)
train_new_27 = get_train_train(train_new, 27)
train_new_28 = get_train_train(train_new, 28)
train_new_29 = get_train_train(train_new, 29)
train_new_30 = get_train_train(train_new, 30)
train_new_31 = get_train_train(train_new, 31)
train_new_32 = get_train_train(train_new, 32)
train_new_33 = get_train_train(train_new, 33)
train_new_34 = get_train_train(train_new, 34)
train_new_35 = get_train_train(train_new, 35)
train_new_36 = get_train_train(train_new, 36)
train_new_37 = get_train_train(train_new, 37)
train_new_38 = get_train_train(train_new, 38)
train_new_39 = get_train_train(train_new, 39)
train_new_40 = get_train_train(train_new, 40)
train_new_41 = get_train_train(train_new, 41)
train_new_42 = get_train_train(train_new, 42)
train_new_43 = get_train_train(train_new, 43)
train_new_44 = get_train_train(train_new, 44)
train_new_45 = get_train_train(train_new, 45)

In [ ]:
def get_nonzero_items(df) : #units이 0이 아닌 item들만 골라내는 함수
    new_df = df[df['units'] != 0]
    new_df.reset_index(drop = True, inplace = True)
    
    

tmp = train_new_1[train_new_1['units'] != 0] #1344 * 4
tmp.reset_index(drop = True, inplace = True)

ls = tmp['item_nbr'].unique() # 9, 28, 40, 51, 93, 89, 99
ls.sort()

for num in ls :
    tmp.loc[len(tmp)] = {'date' : '2012-12-25', 'store_nbr' : 1, 'item_nbr' : num, 'units' : 0}
# rng = range(len(tmp_pivot))

tmp.sort_values(by = ['date', 'item_nbr'], inplace = True)
tmp.tail()

### station_nbr == 1
- store_nbr == 1

In [18]:
set_tmax(weather_train_1)
set_tmin(weather_train_1)
set_tavg(weather_train_1)
set_heat_cool(weather_train_1)

###  station_nbr == 2
- store_nbr == 16

### station_nbr == 3
- store_nbr == 21, 29, 33

### station_nbr == 4
- store_nbr == 8

### station_nbr == 5
- store_nbr == 35

In [ ]:
# 여긴 좀 고민할 필요가 있음..

### station_nbr == 6
- store_nbr == 7, 13

### station_nbr == 7
- store_nbr == 3, 20, 28

### station_nbr == 8
- store_nbr == 39

In [ ]:
set_tmax(weather_train_8)
set_tmin(weather_train_8)
set_tavg(weather_train_8)
set_heat_cool(weather_train_8)

### station_nbr == 9
- store_nbr == 4, 24

### station_nbr == 10
- store_nbr == 11, 22, 27

### station_nbr == 11
- store_nbr == 12, 43

### station_nbr == 12
- store_nbr == 5, 10, 41, 44

### station_nbr == 13
- store_nbr == 15, 25, 32, 37, 40

### station_nbr == 14
- store_nbr == 2, 6, 38, 42

### station_nbr == 15
- store_nbr == 19

### station_nbr == 16
- store_nbr == 14, 45

### station_nbr == 17
- store_nbr == 9, 18, 23, 26, 31, 34

### station_nbr == 18
- store_nbr == 36

### station_nbr == 19
- store_nbr == 30

### station_nbr == 20
- store_nbr == 17

In [ ]:
ls

In [ ]:
weather_train_1.head()

In [ ]:
tmp_pivot.tail()

In [ ]:
test_11 = test_1.set_index('date')

In [ ]:
for num in ls :
    test_11[num] = tmp_pivot[num]

In [ ]:
test_11.tail()

In [ ]:
plt.figure(figsize = (20, 20))
plotcount = 1
for num in ls :
    plt.subplot(len(ls), 1, plotcount)
    plt.scatter(x = test_11['tavg'], y = test_11[num]) # x에 들어가는 column을 바꿔가며 관계시각화 가능..pairplot은 왜 안되지 ㅅㅂ
    
    plt.ylabel('units of item_nbr == {}'.format(num))
    
    plotcount +=1

In [ ]:
test_1 = weather_train_1.drop(['depart', 'dewpoint', 'wetbulb', 'sunrise', 'sunset', 'codesum', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed'], axis = 1)
# pd.concat([test_1, tmp_pivot], axis = 0, ignore_index = True, keys = 'date')

In [34]:
tmp_pivot = train_new_16.pivot_table(values = 'log_units', index = ['date'], columns = ['item_nbr'])
tmp_pivot = tmp_pivot.loc[:, (tmp_pivot != 0).any(axis = 0)]
# tmp_pivot.loc['2012-12-25'] =
tmp_pivot.column

AttributeError: 'DataFrame' object has no attribute 'column'

In [28]:
tmp = train_new_16[train_new_16['units'] != 0] #1344 * 4
tmp.reset_index(drop = True, inplace = True)

ls = tmp['item_nbr'].unique() # 9, 28, 40, 51, 93, 89, 99
ls.sort()

for num in ls :
    tmp.loc[len(tmp)] = {'date' : '2012-12-25', 'store_nbr' : 16, 'item_nbr' : num, 'units' : 0, 'log_units' : 0}
# rng = range(len(tmp_pivot))

tmp.sort_values(by = ['date', 'item_nbr'], inplace = True)
# tmp.tail()

tmp_pivot = tmp.pivot_table(values = 'log_units', index = ['date'], columns = ['item_nbr'])
len(tmp_pivot)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

455

In [24]:
train_new_14 = train_new[train_new['store_nbr'] == 14]
train_new_14.reset_index(drop = True, inplace = True)
# train_new_1

tmp = train_new_1[train_new_1['units'] != 0] #1344 * 4
tmp.reset_index(drop = True, inplace = True)

ls = tmp['item_nbr'].unique() # 9, 28, 40, 51, 93, 89, 99
ls.sort()

for num in ls :
    tmp.loc[len(tmp)] = {'date' : '2012-12-25', 'store_nbr' : 14, 'item_nbr' : num, 'units' : 0, 'log_units' : 0}
# rng = range(len(tmp_pivot))

tmp.sort_values(by = ['date', 'item_nbr'], inplace = True)
# tmp.tail()

tmp_pivot = tmp.pivot_table(values = 'log_units', index = ['date'], columns = ['item_nbr'])
len(tmp_pivot)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

456

In [ ]:
ls

In [ ]:
test_pivot = train_new_14.pivot_table(values = 'units', index = ['date'], columns = ['item_nbr'])
test_pivot.loc[len(test_pivot)] = np.nan

In [ ]:
#455, 2012-12-25 -> 456
tmp = train_new_14[train_new_14['units'] != 0]
tmp.reset_index(drop = True, inplace = True)
tmp
ls = tmp['item_nbr'].unique()
ls.sort
for num in ls :
    tmp.loc[len(tmp)] = {'date' : '2012-12-25', 'store_nbr' : 14, 'item_nbr' : num, 'units' : 0}

tmp.sort_values(by = ['date', 'item_nbr'], inplace = True)
tmp.pivot_table(values = 'units', index = ['date'], columns = ['item_nbr'])

In [ ]:
tmp_pivot = tmp.pivot_table(values = 'units', index = ['date'], columns = ['item_nbr']).fillna(0)
tmp_pivot

In [ ]:
type(weather_train_1.at[0, 'tmax'])

In [ ]:
weather_train_1_pivot = weather_train_1.pivot_table(values = ['tmax', 'tmin', 'tavg'], index = ['date'], aggfunc = np.sum)

In [ ]:
weather_train_1_pivot

In [ ]:
train_new_1 = train_new[train_new['store_nbr'] == 1]
train_new_1.reset_index(drop = True, inplace = True)
# tmp = train_new_1.pivot_table(values = 'units', index = ['date'], columns = ['item_nbr'])
tmp = train_new_1[train_new_1['units'] != 0]
tmp_pivot = tmp.pivot_table(values = 'units', index = ['date'], columns =['item_nbr']).fillna(0)
tmp_pivot.head()
# result = tmp['item_nbr'].unique() # store_nbr1에서 units이 0이 아닌 item_nbr = 9, 28, 40, 51, 89, 93, 99
# result.sort()
# for item in result :
#     print(item)

In [ ]:
tmp_pivot['tmax'] = weather_train_1_pivot['tmax']
result_pivot = tmp_pivot.sort_values(by = 'tmax', ascending = True)
tmp_pivot.head()

# tmp_pivot.plot(kind = 'bar', x = 'tmax', figsize = (40, 10))
# tmp_pivot.plot(figsize = (20, 10))
result_pivot.plot(kind = 'bar', x = 'tmax', y = 99, figsize = (20, 10))

# tmp_pivot['tmax'].unique()
# plt.show()

In [ ]:
weather_train_1[weather_train_1['date'] == '2012-12-25']

In [ ]:
train_new_1_9 = train_new_1[train_new_1['item_nbr'] == 9]
# len(weather_train_1), len(train_new_1_9) #456, 455 왜 하나 차이가 나지? train 2012-12-25가 없음
train_new_1_9.reset_index(drop = True, inplace = True)
# train_new_1_9
# weather_train_1